In [16]:
# import relevant packages
# pip install pypyodbc 
import pypyodbc as odbc 
import pandas as pd
from credentials import username, password

In [17]:
# prepare the variables 
server = "is3107jobs.database.windows.net"
database = "is3107JobsDB"
connection_string = 'Driver={ODBC Driver 18 for SQL Server};Server='+server+',1433;Database='+database+';Uid='+username+';Pwd='+password+';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'

In [18]:
# connect to database 
conn = odbc.connect(connection_string)
tableName = 'consolidatedJobs'

In [19]:
# test query
query1 = 'SELECT * FROM consolidatedJobs'
cursor = conn.cursor()

In [20]:
# run query
cursor.execute(query1)
dataset = cursor.fetchall()

In [21]:
colnames = ['job_title', 'description', 'company', 'salary_range']
df = pd.DataFrame(dataset, columns=colnames)
df.head()

,job_title,description,company,salary_range
0,"Intern, AI researcher for AIOT",Job DescriptionThis position targets to develo...,Robert Bosch (SEA) Pte Ltd,"$1,200 - 1,400 monthly"
1,Business Development Assistant,Responsibilities:? Develop partnerships within...,Meso Labs Pte Ltd,"$800 - 5,000 monthly"
2,Software Engineer Intern,Assisting in the development of web-based appl...,BotDistrikt,"$700 - 1,000 monthly"
3,Software Engineer Intern,We are looking for an enthusiastic Software En...,Fresh Cars Pte Ltd,"$800 - 1,200 monthly"
4,Software Data Tester,New Start-up!Software TestingQuality Assurance...,Starstruck,$650 - 800 monthly