In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
df = pd.read_csv("Indeed_WebScraping\indeed_jobs_modified.csv")

# Text preprocessing
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Job Description'])

# Function to recommend jobs based on input text
def recommend_jobs(input_text, df, tfidf_matrix, tfidf_vectorizer, top_n=3):
    input_vector = tfidf_vectorizer.transform([input_text])
    cosine_similarities = cosine_similarity(input_vector, tfidf_matrix).flatten()
    related_jobs_indices = cosine_similarities.argsort()[:-top_n-1:-1]
    recommended_jobs = df.iloc[related_jobs_indices]
    return recommended_jobs

In [10]:
# Example usage
input_text = "data science, machine learning, data analysis, ai"
recommend_jobs(input_text, df, tfidf_matrix, tfidf_vectorizer)

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
262,Software and Applications Manager\n,JOYFULAI TECHNOLOGY PTE. LTD.,"$10,000 - $13,000 a month","Permanent, Full-time",Singapore,"Joyful AI, an innovative AI technology startup...",PostedToday,2024-03-21,2024-03-21 00:00:00
124,Summer Internship 2024,Munich Re,NaN,Internship,Singapore,Summer Internship 2024 - Data Analyst & BI Int...,PostedToday,2024-03-21,2024-03-21 00:00:00
23,Summer Internship 2024,Munich Re,NaN,Internship,Singapore,Summer Internship 2024 - Data Analyst & BI Int...,PostedToday,2024-03-21,2024-03-21 00:00:00

In [11]:
input_text = "data science"
recommend_jobs(input_text, df, tfidf_matrix, tfidf_vectorizer)

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
119,DATA ANALYTICS (Health)\n,RESOURCE HUNT PTE. LTD.,"$9,000 - $10,000 a month",Full-time,Singapore,Health Analytics Manager\nJoin our team and he...,PostedJust posted,2024-03-21,2024-03-21 00:00:00
192,Solution Architect,SoftwareOne,NaN,Full-time,Singapore 189720,Job Function: Software & Cloud Services The ro...,PostedPosted 2 days ago,2024-03-21,2024-03-19 00:00:00
286,Software Development Senior Specialist\n,NTT Data Services Pte Ltd,NaN,"Permanent, Full-time",Singapore,S\nPosted by\nShubhansh Jaiswal\nTalent Acquis...,PostedToday,2024-03-21,2024-03-21 00:00:00

In [12]:
input_text = "data analysis"
recommend_jobs(input_text, df, tfidf_matrix, tfidf_vectorizer)

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
167,Data Analyst\n,COGNOSPHERE PTE. LTD.,"$7,000 - $14,000 a month","Permanent, Full-time",Singapore,"Who Are We?\nAt HoYoverse, we are committed to...",PostedPosted 2 days ago,2024-03-21,2024-03-19 00:00:00
170,Data Analyst\n,NodeFlair,"$7,000 - $14,000 a month",NaN,Singapore,"Job Summary\n\nSalary\nS$7,000 - S$14,000 / Mo...",PostedPosted 2 days ago,2024-03-21,2024-03-19 00:00:00
140,Customer Excellence Data Analytics & Reporting...,Cargill,NaN,NaN,Singapore,Job Purpose and Impact\n\nThe role of Commerci...,PostedPosted 1 day ago,2024-03-21,2024-03-20 00:00:00

In [13]:
input_text = "machine learning"
recommend_jobs(input_text, df, tfidf_matrix, tfidf_vectorizer)

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
208,Workforce Operations Analyst\n,Apple,NaN,NaN,Singapore,Summary\n\nPosted: 15 Mar 2024\n\nRole Number:...,PostedPosted 2 days ago,2024-03-21,2024-03-19 00:00:00
204,Quantitative Trader/Analyst Commodities\n,KS Talent Solutions,NaN,"Permanent, Full-time",Singapore,Join our client in an exciting role based in S...,PostedPosted 2 days ago,2024-03-21,2024-03-19 00:00:00
222,Software Engineer\n,ETUAN MECHATRONIC PTE LTD,"$3,500 - $4,500 a month",Full-time,Singapore,Design and develops software for PLC/PC/Vision...,PostedJust posted,2024-03-21,2024-03-21 00:00:00

# Rec system
- cold start problem - use content based approach
  - standard nlp process, 
  - user profiles info to start rec
  - e.g. k-NN model
- avoid rule based / search engine like recc system
- lack of labels, unsupervised method
  - PCA
- copy paste resume in to get rec jobs: https://towardsdatascience.com/building-a-job-recommender-for-non-technical-business-roles-via-nlp-and-machine-learning-626c4039931e
- azure cloud deployment, 10months old
  - https://github.com/abbas99-hub/Job-Recommendation-System 
  - https://medium.com/@abbasbehrain95/creating-an-ai-powered-job-recommendation-system-50ce1cd12d36
- microsoft resource: https://azure.microsoft.com/en-us/blog/building-recommender-systems-with-azure-machine-learning-service/