In [3]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException, ElementClickInterceptedException
from time import sleep

# Define .csv

In [4]:
import pandas as pd

# Define columns for the DataFrame
columns = [
    'company_name', 
    'recruiter_name',
    'job_title', 
    'location', 
    'employment_type',
    'job_level', 
    'job_function', 
    'salary_lower', 
    'salary_upper', 
    'salary_period',
    'num_applications', 
    'posted_date',
    'address',
    'experience',
    'closing_date',
    'job_description'
]

# Create an empty DataFrame with the defined columns
jobs = pd.DataFrame(columns=columns)

# Functions

In [5]:
# Define dictionaries/lists for categories
locations = ['Central', 'East', 'North', 'South', 'West', 'Islandwide']
employment_types = ['Permanent', 'Full Time', 'Part Time', 'Contract', 'Flexi-work', 'Temporary', 'Freelance', 'Internship/Attachment']
job_levels = ['Senior Management', 'Middle Management', 'Manager', 'Professional', 'Senior Executive', 'Executive', 'Junior Executive', 'Non-executive', 'Fresh/Entry Level']

# Example strings
example_strings = [
    "CentralContractJunior ExecutiveEngineering ...",
    "IslandwideContract ...Fresh/Entry LevelEducation And Training ...",
    "SouthInternship/AttachmentFresh/Entry LevelHealthcare / Pharmaceutical",
    "IslandwideContract ...ProfessionalBanking And Finance ...",
    "Contract ...ProfessionalBanking And Finance ..."
]

# Function to split the string and determine values for each category
def parse_contract_type(string):
    clean_str = string.replace(" ...", "")
    res_location, res_employment_type, res_job_level, res_job_function = None, None, None, None
    for location in locations:
        if location in clean_str:
            res_location = location
            clean_str = clean_str.replace(location, '')
            break
    for employment_type in employment_types:
        if employment_type in clean_str:
            res_employment_type = employment_type
            clean_str = clean_str.replace(employment_type, '')
            break
    for job_level in job_levels:
        if job_level in clean_str:
            res_job_level = job_level
            clean_str = clean_str.replace(job_level, '')
            break
    res_job_function = clean_str.strip()

    return res_location, res_employment_type, res_job_level, res_job_function  

# Print test
for i in example_strings:
    print(list(parse_contract_type(i)))

['Central', 'Contract', 'Executive', 'Junior Engineering']
['Islandwide', 'Contract', 'Fresh/Entry Level', 'Education And Training']
['South', 'Internship/Attachment', 'Fresh/Entry Level', 'Healthcare / Pharmaceutical']
['Islandwide', 'Contract', 'Professional', 'Banking And Finance']
[None, 'Contract', 'Professional', 'Banking And Finance']

In [6]:
def parse_salary_range(salary_range):
    # Extract upper and lower salary values
    salary_values = re.findall(r'(\d+(?:,\d+)?)', salary_range)
    salary_lower = int(salary_values[0].replace(',', '')) if salary_values else None
    salary_upper = int(salary_values[1].replace(',', '')) if len(salary_values) > 1 else None
    
    return salary_lower, salary_upper

In [7]:
import re

def parse_applications(applications):
    if applications:
        # Extract only the integer number
        match = re.search(r'\d+', applications)
        num_applications = int(match.group()) if match else None
    else:
        num_applications = None
    return num_applications

In [8]:
'''
GMP RECRUITMENT SERVICES (S) PTE LTD
Junior Data Scientist
CentralContractJunior ExecutiveEngineering ...
0% skills matched
$3,500to$7,000
Monthly
0 application
Posted yesterday
'''

def store_card_info(card, row_no):
    # Split the card information into lines
    lines = card.split('\n')
    
    # Extract relevant information
    company_name, recruiter_name, job_title, contract_type, salary_range, salary_period, applications, posted_date = (None, None, None, None, None, None, None, None)
    if(len(lines) > 8): 
        '''
        for cases such as
        PETROS-CONSULTING PTE. LTD.RECRUITER
        for ST ENGINEERING IHQ PTE. LTD.
        '''
        recruiter_name = lines[0].replace("RECRUITER", "")
        company_name = lines[1].replace("for ", "")
        job_title = lines[2]
        contract_type = lines[3]
        # skills_match = lines[4]
        salary_range = lines[5]
        salary_period = lines[6]
        applications = None #lines[7]
        posted_date = None #lines[8]
    else:
        company_name = lines[0]
        recruiter_name = None
        job_title = lines[1]
        contract_type = lines[2]
        # skills_match = lines[3]
        salary_range = lines[4]
        salary_period = lines[5]
        applications = None #lines[6]
        posted_date = None #lines[7]
    
    # Parse contract_type
    location, employment_type, job_level, job_function = parse_contract_type(contract_type)
    
    # Parse salary_range
    salary_lower, salary_upper = parse_salary_range(salary_range)
    
    # Parse applications
    num_applications = applications #parse_applications(applications)

    # Initialize additional columns
    address = None
    experience = None
    closing_date = None
    job_description = None
    
    # Write
    jobs.loc[row_no] = [
        company_name, 
        recruiter_name,
        job_title, 
        location, 
        employment_type,
        job_level, 
        job_function, 
        salary_lower, 
        salary_upper, 
        salary_period,
        num_applications, 
        posted_date,
        address,
        experience,
        closing_date,
        job_description
    ]

In [9]:
def parse_posting_info(posting_info):
    # Define the pattern to match "applicationsPosted" and "Closing on" as separators
    pattern = r'( applicationPosted | applicationsPosted |Closing on )'

    applications, filler_1, posted_date, filler_2, closing_date = re.split(pattern, posting_info)

    return applications, posted_date, closing_date

posting_info_eg = [
    "4 applicationsPosted 30 Mar 2024Closing on 29 Apr 2024",
    "30 applicationsPosted 29 Mar 2024Closing on 05 Apr 2024",
    "240 applicationsPosted 29 Mar 2024Closing on 28 Apr 2024",
    "0 applicationPosted 31 Mar 2024Closing on 30 Apr 2024",
    "1 applicationPosted 31 Mar 2024Closing on 30 Apr 2024"
]

# Split each string and print the results
for string in posting_info_eg:
    print(parse_posting_info(string))

('4', '30 Mar 2024', '29 Apr 2024')
('30', '29 Mar 2024', '05 Apr 2024')
('240', '29 Mar 2024', '28 Apr 2024')
('0', '31 Mar 2024', '30 Apr 2024')
('1', '31 Mar 2024', '30 Apr 2024')

## Web Scrape function

In [10]:
from random import uniform
# uniform(0.1, 1)

In [11]:
from datetime import datetime
# datetime.today() > datetime.strptime('01 Jan 2024', '%d %b %Y')

In [48]:
def scrape_mycareersfuture(search_term, furthest_date='01 Jan 2023'):
    '''
    furthest_date format: DD Mmm YYYY
    sleep to avoid kick out as bot
    '''
    driver = webdriver.Chrome()
    wait = WebDriverWait(driver, 1)

    page_no = 0
    driver.get(f"https://www.mycareersfuture.gov.sg/search?search={search_term}&sortBy=new_posting_date&page={page_no}")
    row_no = -1
    proceed_to_next_page = True
    furthest_date = datetime.strptime(furthest_date, '%d %b %Y')
    cur_date = datetime.today()
    while proceed_to_next_page and cur_date > furthest_date:
        # sleep(uniform(1, 5))
        for card_id in range(22):
            # sleep(uniform(1, 2))
            try:
                print(f"ROW NO: {row_no}, CARD NO: {card_id}, PAGE NO: {page_no}")
                
                # url = wait.until(EC.element_to_be_clickable((By.XPATH, f"//div[@id='job-card-{card_id}']/div[@class='card relative']/a[@class='bg-white mb3 w-100 dib v-top pa3 no-underline flex-ns flex-wrap JobCard__card___22xP3']/div[@class='w-80-l w-100 flex flex-wrap']/div[@class='w-100 order-0 pr3-ns pr0']/section[@class='flex']/div[@class='pl3 JobCard__job-title-flex___2R-sW']/div[@class='w-100']/span[@class='f4-5 fw6 mv0 dib mr2 brand-sec JobCard__jobtitle___3HqOw truncate-lines truncate-lines-4']"))).get_attribute("onClick")
                # print(f"url: {url}")

                card_element = wait.until(EC.element_to_be_clickable((By.ID, f"job-card-{card_id}")))
                card = card_element.text
                # print(card)
                row_no += 1
                store_card_info(card, row_no)
                # """
                card_element.click()
                # sleep(uniform(1, 3))
                try:
                    job_description = wait.until(EC.presence_of_element_located((By.ID, "job_description"))).text
                    jobs.at[row_no, 'job_description'] = job_description
                    # print(job_description)
                except:
                    print("no job description")

                try:
                    posting_info = wait.until(EC.presence_of_element_located((By.XPATH, "//section[@id='job-details']/div[@class='w-70-l w-60-ms w-100 pr2-l pr2-ms relative']/div[@class='bg-white pa4'][1]/div[@class='jobInfo w-100 dib v-top relative']/section[2]"))).text
                    # print(posting_info)
                    applications, posted_date, closing_date = parse_posting_info(posting_info)

                    cur_date = datetime.strptime(posted_date, '%d %b %Y')

                    jobs.at[row_no, 'num_applications'] = applications
                    jobs.at[row_no, 'posted_date'] = posted_date
                    jobs.at[row_no, 'closing_date'] = closing_date
                    # print(f"{posted_date}, {closing_date}, {applications}")
                except:
                    print("no posted info")

                try: # <p data-testid="job-details-info-min-experience" class="black-80 f6 fw4 mv1 dib pr3 mr1 icon-bw-period">2 years exp</p>
                    experience = wait.until(EC.presence_of_element_located((By.XPATH, "//p[@data-testid='job-details-info-min-experience']"))).text.replace(" years exp", "").replace(" year exp", "")
                    jobs.at[row_no, 'experience'] = experience
                    # print(experience)
                except:
                    print("no experience")

                try:            
                    address = wait.until(EC.presence_of_element_located((By.XPATH, "//div[@class='db mt3 mb4']/section[@class='w-100 pb3 pb0-ns lh-copy']/p[@class='black-80 f6 fw4 mv1 dib pr3 mr1 icon-bw-location']/a[@class='link brand-sec underline-hover']"))).text
                    jobs.at[row_no, 'address'] = address
                    # print(address)
                except:
                    print("no address")
                
                driver.back()
                # """
            except TimeoutException as err:
                print(f"reached card no: {card_id}, error: {err.msg}")
                break            
                
        try:
            print('...next page')
            wait.until(EC.element_to_be_clickable((By.XPATH, "//section[@id='search-results']/div[@class='tc pv3']/button[@class='f5-5 pv2 ph3 mh1 dib black-80 hover-bg-white pointer'][3]"))).click()
            page_no += 1
        except TimeoutException as err:
            '''no more pages left'''
            proceed_to_next_page = False
    print("no more jobs to scrape")
    driver.quit()

In [13]:
# driver = webdriver.Chrome()
# wait = WebDriverWait(driver, 3)
# search_term = "hrwoerowhefo" 
# page_no = 0
# driver.get(f"https://www.mycareersfuture.gov.sg/search?search={search_term}&sortBy=new_posting_date&page={page_no}")
# try:
#     wait.until(EC.element_to_be_clickable((By.XPATH, "//section[@id='search-results']/div[@class='tc pv3']/button[@class='f5-5 pv2 ph3 mh1 dib black-80 hover-bg-white pointer'][3]"))).click()
#     sleep(5)
# except TimeoutException as err:
#     print(err.msg)
# driver.quit()

# Execute scraping

In [52]:
jobs = pd.DataFrame(columns=columns)

## AI

In [50]:
scrape_mycareersfuture("ai")

ROW NO: -1, CARD NO: 0, PAGE NO: 0
ROW NO: 0, CARD NO: 1, PAGE NO: 0
no posted info
ROW NO: 1, CARD NO: 2, PAGE NO: 0
ROW NO: 2, CARD NO: 3, PAGE NO: 0
ROW NO: 3, CARD NO: 4, PAGE NO: 0
ROW NO: 4, CARD NO: 5, PAGE NO: 0
no address
ROW NO: 5, CARD NO: 6, PAGE NO: 0
ROW NO: 6, CARD NO: 7, PAGE NO: 0
no experience
ROW NO: 7, CARD NO: 8, PAGE NO: 0
no experience
ROW NO: 8, CARD NO: 9, PAGE NO: 0
ROW NO: 9, CARD NO: 10, PAGE NO: 0
no experience
no address
ROW NO: 10, CARD NO: 11, PAGE NO: 0
no posted info
no experience
no address
ROW NO: 11, CARD NO: 12, PAGE NO: 0
no address
ROW NO: 12, CARD NO: 13, PAGE NO: 0
ROW NO: 13, CARD NO: 14, PAGE NO: 0
no address
ROW NO: 14, CARD NO: 15, PAGE NO: 0
ROW NO: 15, CARD NO: 16, PAGE NO: 0
no address
ROW NO: 16, CARD NO: 17, PAGE NO: 0
no address
ROW NO: 17, CARD NO: 18, PAGE NO: 0
no experience
ROW NO: 18, CARD NO: 19, PAGE NO: 0
no address
ROW NO: 19, CARD NO: 20, PAGE NO: 0
ROW NO: 20, CARD NO: 21, PAGE NO: 0
...next page
ROW NO: 21, CARD NO: 0, PAGE NO: 1
ROW NO: 22, CARD NO: 1, PAGE NO: 1
no posted info
ROW NO: 23, CARD NO: 2, PAGE NO: 1
no address
ROW NO: 24, CARD NO: 3, PAGE NO: 1
ROW NO: 25, CARD NO: 4, PAGE NO: 1
no address
ROW NO: 26, CARD NO: 5, PAGE NO: 1
no experience
ROW NO: 27, CARD NO: 6, PAGE NO: 1
ROW NO: 28, CARD NO: 7, PAGE NO: 1
ROW NO: 29, CARD NO: 8, PAGE NO: 1
ROW NO: 30, CARD NO: 9, PAGE NO: 1
ROW NO: 31, CARD NO: 10, PAGE NO: 1
ROW NO: 32, CARD NO: 11, PAGE NO: 1
no experience
ROW NO: 33, CARD NO: 12, PAGE NO: 1
no experience
ROW NO: 34, CARD NO: 13, PAGE NO: 1
no experience
ROW NO: 35, CARD NO: 14, PAGE NO: 1
ROW NO: 36, CARD NO: 15, PAGE NO: 1
ROW NO: 37, CARD NO: 16, PAGE NO: 1
no posted info
ROW NO: 38, CARD NO: 17, PAGE NO: 1
ROW NO: 39, CARD NO: 18, PAGE NO: 1
no experience
ROW NO: 40, CARD NO: 19, PAGE NO: 1
no job description
ROW NO: 41, CARD NO: 20, PAGE NO: 1
no experience
ROW NO: 42, CARD NO: 21, PAGE NO: 1
no address
...next page
ROW NO: 43, CARD NO: 0, PAGE NO: 2
ROW NO: 44, CARD NO: 1, PAGE NO: 2
ROW NO: 45, CARD NO: 2, PAGE NO: 2
reached card no: 2, error:
...next page
no more jobs to scrape

In [51]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Designing human-AI tea...,South,Contract,Professional,Engineering,8100,14000,Monthly,10,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
1,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Research Engineer (Designing human-AI teams) (CS),South,Contract,Professional,Engineering,5900,10000,Monthly,None,None,1 Create Way 138602,1,None,Roles & Responsibilities\nProject Overview\nWe...
2,SNOWFLAKE COMPUTING SINGAPORE PTE. LTD.,Recommended based on your skills & job applica...,Solutions Architect - AI / ML,Central,Permanent,Professional,Information Technology10 Years Exp,12000,24000,Monthly,25,18 Mar 2024,"SGX CENTRE II, 4 SHENTON WAY 068807",10,17 Apr 2024,Roles & Responsibilities\nSUMMARY\nWe are look...
3,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Research Scientist (Designing human-AI teams) ...,South,Contract,Professional,Engineering,8900,17000,Monthly,17,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
4,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Designing human-AI tea...,South,Contract,Professional,Sciences / Laboratory / R&D,8100,14000,Monthly,7,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
5,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Research Engineer (Designing human-AI teams) (SS),South,Contract,Professional,Sciences / Laboratory / R&D,5900,10000,Monthly,6,02 Apr 2024,None,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
6,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Research Scientist (Designing human-AI teams) ...,South,Contract,Professional,Sciences / Laboratory / R&D,8900,17000,Monthly,14,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
7,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,"Postdoctoral Associate (Ethical, accountable, ...",South,Contract,Professional,Engineering,8100,14000,Monthly,6,02 Apr 2024,1 Create Way 138602,None,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
8,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (AI for Human Capital D...,South,Contract,Professional,Engineering,8100,14000,Monthly,5,02 Apr 2024,1 Create Way 138602,None,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
9,LAWNET TECHNOLOGY SERVICES PTE. LTD.,None,AI Engineer,East,Full Time,Middle Management,Information Technology,5300,8700,Monthly,2,02 Apr 2024,"THE ADELPHI, 1 COLEMAN STREET 179803",7,02 May 2024,Roles & Responsibilities\nAbout the role\nAs a...
10,BIOQUEST ADVISORY PTE. LTD.,None,AI Consulting Assistant *Fresh Diploma Grads a...,Islandwide,Contract,Fresh/Entry Level,Consulting,3000,4000,Monthly,1,02 Apr 2024,None,None,02 May 2024,Roles & Responsibilities\nWe are looking for m...
11,BIOQUEST ADVISORY PTE. LTD.,None,AI Internship to Permanent,Islandwide,Internship/Attachment,Fresh/Entry Level,Banking And Finance,1030,1030,Monthly,None,None,None,None,None,Roles & Responsibilities\nThis AI internship i...
12,NTUC LEARNINGHUB PTE. LTD.,None,Course Developer for Cybersecurity & AI Techno...,Islandwide,Temporary,Professional,Education And Training,1100,1300,Monthly,0,02 Apr 2024,None,4,02 May 2024,Roles & Responsibilities\nJob Description\nWe ...
13,INTEL TECHNOLOGY ASIA PTE LTD,Recommended based on your skills & job applica...,Technical Sales Specialist (TSS): AI for Edge,Central,Permanent,Senior Management,Information Technology10 Years Exp,15000,30000,Monthly,23,13 Mar 2024,"Aperia Tower, 10 Kallang Avenue 339510",10,12 Apr 2024,Roles & Responsibilities\nProvides technical e...
14,ARISTON SERVICES PTE. LTD.,None,AI / ML Solution Architect,Islandwide,Full Time,Manager,Banking And Finance,8000,10000,Monthly,1,02 Apr 2024,None,12,02 May 2024,Roles & Responsibilities\nRole Description\nLo...
15,AI Prompt Engineer,RED HARE STUDIOS,NorthFull TimeJunior ExecutiveDesign ...,None,None,None,0% skills matched,2500,3000,Monthly,1,01 Apr 2024,"M38, 38 JALAN PEMIMPIN 577178",1,01 May 2024,Roles & Responsibilities\nPrompt engineering i...
16,ENVIRODYNAMICS SOLUTIONS PTE. LTD.,None,AI Algorithm Engineer,Islandwide,Permanent,Senior Executive,Information Technology,6500,9000,Monthly,11,01 Apr 2024,None,3,01 May 2024,Roles & Responsibilities\nArtificial Intellige...
17,ENVIRODYNAMICS SOLUTIONS PTE. LTD.,None,Chief Generative AI Scientist,Islandwide,Permanent,Manager,Information Technology,12000,16000,Monthly,5,01 Apr 2024,None,8,01 May 2024,Roles & Responsibilities\nPosition Overview: W...
18,HYPERGAI PTE. LTD.,None,AI Engineer (Data),Central,Full Time,Executive,Engineering,8000,16000,Monthly,13,01 Apr 2024,"INTERNATIONAL PLAZA, 10 ANSON ROAD 079903",None,01 May 2024,Roles & Responsibilities\nAbout HyperGAI\n\nHy...
19,PRESTIGE MEDIA MANAGEMENT PTE. LTD.,None,AI ENGINEER,Islandwide,Full Time,Professional,Engineering,30000,60000,Monthly,2,01 Apr 2024,None,5,01 May 2024,Roles & Responsibilities\nHee Labs is a Silico...
20,PAN-ASIA RESOURCES PTE LTD,None,Lending / Loans Origination banking Cloud AI S...,Central,Permanent,Professional,Information Technology,13000,15000,Monthly,6,01 Apr 2024,"SHENTON HOUSE, 3 SHENTON WAY 068805",8,01 May 2024,Roles & Responsibilities\nOne of our clients w...
21,DCONSTRUCT ROBOTICS PTE. LTD.,None,Program Manager – dConstruct+ AI and Robotics ...,South,Full Time,Manager,Information Technology,5000,7000,Monthly,4,01 Apr 2024,"PIXEL, 10 CENTRAL EXCHANGE GREEN 138649",5,01 May 2024,Roles & Responsibilities\nAbout Us: dConstruct...
22,APPLE SOUTH ASIA PTE. LTD.,None,"AI / ML - Siri Language Engineer, Siri & Infor...",North,Permanent,Executive,Engineering,10000,20000,Monthly,6,01 Apr 2024,12 ANG MO KIO STREET 64 569088,10,15 Apr 2024,Roles & Responsibilities\nJob Summary\nImagine...
23,APPLE SOUTH ASIA PTE. LTD.,None,"AI / ML - Siri Language Engineer, Siri & Infor...",North,Permanent,Executive,Engineering,5000,10000,Monthly,None,None,12 ANG MO KIO STREET 64 569088,2,None,Roles & Responsibilities\nJob Summary\nImagine...
24,CAREER ZOOM PTE. LTD.,Recommended based on your skills & job applica...,Partner - Ai In Financial Services,Islandwide,Full Time,Senior Management,Consulting12 Years Exp,20000,25000,Monthly,35,05 Mar 2024,None,12,04 Apr 2024,Roles & Responsibilities\nOverview:\nOur clien...
25,AVENSYS CONSULTING PTE. LTD.,None,Regional Sales Manager – Cyber Security & ERP ...,East,Full Time,Manager,Consulting,8000,10000,Monthly,5,01 Apr 2024,"VERTEX, 33 UBI AVENUE 3 408868",10,22 Apr 2024,Roles & Responsibilities\nAvensys is a reputed...
26,ENGGSOL PTE. LTD.,None,Senior AI Researcher,Islandwide,Contract,Professional,Information Technology,7000,10000,Monthly,3,01 Apr 2024,None,5,01 May 2024,Roles & Responsibilities\nYou will be responsi...
27,TECHNOLOGY SERVICES GROUP PTE. LTD.,None,LLM Developer - AI Chat Assistant - X,South,Full Time,Executive,Non-Information Technology,7000,11000,Monthly,6,01 Apr 2024,"Keppel Bay Tower, 1 Harbourfront Ave 098632",None,01 May 2024,Roles & Responsibilities\nAs an LLM Developer ...
28,SIEMENS HEALTHCARE PTE. LTD.,None,AI Scientist,Central,Permanent,Professional,Healthcare / Pharmaceutical,6000,12000,Monthly,23,01 Apr 2024,"THE SIEMENS CENTRE, 60 MACPHERSON ROAD 348615",2,01 May 2024,Roles & Responsibilities\nDo you want to join ...
29,SINGAPORE MANAGEMENT UNIVERSITY,HYPERSCAL SOLUTIONS PTE. LTD.,"Senior Research Engineer, Symbolic AI (1-year ...",East,Contract,Manager,Others,4000,8000,Monthly,1,01 Apr 2024,81 VICTORIA STREET 188065,2,15 Apr 2024,Roles & Responsibilities\nCOMPANY DESCRIPTION\...
30,NCS PTE. LTD.,None,"Senior Consultant, Data & AI Engineering",North,Permanent,Professional,Consulting,8000,16000,Monthly,14,01 Apr 2024,"NCS HUB, 5 ANG MO KIO STREET 62 569141",6,01 May 2024,Roles & Responsibilities\nKey Roles and Respon...
31,SGMP PTE. LTD.,None,Creative AI Website Designer (AI Technology Fo...,East,Contract,Professional,Customer Service,2000,3000,Monthly,1,31 Mar 2024,"ESR BIZPARK @ CHAI CHEE, 750C CHAI CHEE ROAD 4...",2,30 Apr 2024,Roles & Responsibilities\nJob Overview:\nWe ar...
32,ONEBYTE PTE. LTD.,None,AI Engineer,East,Permanent,Professional,Engineering,6000,8000,Monthly,29,28 Mar 2024,"UB POINT, 61 UBI AVENUE 1 408941",3,18 Apr 2024,Roles & Responsibilities\nResponsibilities:\n\...
33,KNOVEL ENGINEERING PTE. LTD.,None,Software Developer (AI Solutions),Central,Permanent,Executive,Engineering,5500,9000,Monthly,62,28 Mar 2024,"TAI SENG CENTRE, 3 IRVING ROAD 369522",None,27 Apr 2024,Roles & Responsibilities\nDescription:\nYou wi...
34,SAP ASIA PTE. LTD.,None,Associate AI Scientist / AI Scientist – Artifi...,South,Permanent,Executive,Information Technology,6000,9000,Monthly,36,28 Mar 2024,"MAPLETREE BUSINESS CITY, 30 PASIR PANJANG ROAD...",None,27 Apr 2024,Roles & Responsibilities\n*SAP will be priorit...
35,HPC AI TECHNOLOGY PTE. LTD.,Recommended based on your skills & job applica...,Senior AI system engineer,South,Full Time,Senior Executive,Engineering,10000,18000,Monthly,13,22 Mar 2024,"Ascent, 01-08 2 Science Drive 118222",None,21 Apr 2024,Roles & Responsibilities\nResponsibilities:\nD...
36,PENTAS VISION PTE. LTD.,None,AI Researcher,East,Full Time,Professional,Sciences / Laboratory / R&D,7500,15000,Monthly,16,28 Mar 2024,"THE PLAZA, 7500A BEACH ROAD 199591",3,27 Apr 2024,Roles & Responsibilities\nJob Responsibilities...
37,A*STAR RESEARCH ENTITIES,None,"Scientist / Senior Scientist, AI, ARTC",West,Contract,Professional,Sciences / Laboratory / R&D,5900,11800,Monthly,3,27 Mar 2024,"Cleantech Two, 3 Cleantech Loop, #01/01 637143",5,26 Apr 2024,Roles & Responsibilities\nAbout the role\nThe ...
38,A*STAR RESEARCH ENTITIES,None,"Scientist / Senior Scientist, AI, ARTC",West,Contract,Professional,Sciences / Laboratory / R&D,4750,9500,Monthly,None,None,"Cleantech Two, 3 Cleantech Loop, #01/01 637143",2,None,Roles & Responsibilities\nAbout the role\nThe ...
39,RANDSTAD PTE. LIMITED,None,Sales Manager- AI Solutions -Enterprise Clients,Central,Full Time,Manager,Information Technology,8000,10000,Monthly,9,27 Mar 2024,"ONE RAFFLES PLACE, 1 RAFFLES PLACE 048616",8,26 Apr 2024,Roles & Responsibilities\nAbout my client\nI a...
40,ELGO TECHNOLOGIES PTE. LTD.,None,AI Engineering Intern,South,Contract,Executive,Non-Information Technology,1000,1200,Monthly,12,27 Mar 2024,67 Ayer Rajah Crescent 139950,None,26 Apr 2024,Roles & Responsibilities\n\nCompany Summary:\n...
41,TECHNOLOGY SERVICES GROUP PTE. LTD.,None,Chief Technology Officer (CTO) - AI Powered He...,South,Full Time,Senior Management,Information Technology,15000,18000,Monthly,25,27 Mar 2024,"Keppel Bay Tower, 1 Harbourfront Ave 098632",10,26 Apr 2024,None
42,NATIONAL UNIVERSITY OF SINGAPORE,None,"Software Engineer, AI Centre for Educational T...",South,Full Time,Executive,Information Technology,6000,9000,Monthly,9,27 Mar 2024,21 LOWER KENT RIDGE ROAD 119077,None,10 Apr 2024,Roles & Responsibilities\nInterested applicant...
43,PERSOLKELLY SINGAPORE PTE. LTD.,None,AI Engineer - FSI candidate are welcome,Islandwide,Permanent,Professional,Information Technology,10000,20000,Monthly,28,26 Mar 2024,None,5,25 Apr 2024,Roles & Responsibilities\nJoin a leading congl...
44,AMAZON WEB SERVICES SINGAPORE PRIVATE LIMITED,Recommended based on your skills & job applica...,Generative AI Strategist,Central,Permanent,Professional,Information Technology7 Years Exp,13000,25000,Monthly,38,25 Mar 2024,"AIA TOWER, 1 ROBINSON ROAD 048542",7,24 Apr 2024,Roles & Responsibilities\nAmazon Web Services ...
45,MENYALA SINGAPORE PTE. LTD.,Recommended based on your skills & job applica...,AI Engineer,Central,Permanent,Professional,Information Technology6 Years Exp,10000,16000,Monthly,37,25 Mar 2024,"UE SQUARE, 83 CLEMENCEAU AVENUE 239920",6,08 Apr 2024,Roles & Responsibilities\nWhat is Menyala?\nMe...

In [60]:
jobs.to_csv("jobs_ai.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)

## Data analytics

In [25]:
scrape_mycareersfuture("data%20analytics")

ROW NO: -1, CARD NO: 0, PAGE NO: 0
ROW NO: 0, CARD NO: 1, PAGE NO: 0
ROW NO: 1, CARD NO: 2, PAGE NO: 0
no address
ROW NO: 2, CARD NO: 3, PAGE NO: 0
ROW NO: 3, CARD NO: 4, PAGE NO: 0
ROW NO: 4, CARD NO: 5, PAGE NO: 0
ROW NO: 5, CARD NO: 6, PAGE NO: 0
ROW NO: 6, CARD NO: 7, PAGE NO: 0
no address
ROW NO: 7, CARD NO: 8, PAGE NO: 0
ROW NO: 8, CARD NO: 9, PAGE NO: 0
no job description
no address
ROW NO: 9, CARD NO: 10, PAGE NO: 0
ROW NO: 10, CARD NO: 11, PAGE NO: 0
ROW NO: 11, CARD NO: 12, PAGE NO: 0
no experience
ROW NO: 12, CARD NO: 13, PAGE NO: 0
no experience
no address
ROW NO: 13, CARD NO: 14, PAGE NO: 0
ROW NO: 14, CARD NO: 15, PAGE NO: 0
no address
ROW NO: 15, CARD NO: 16, PAGE NO: 0
no address
ROW NO: 16, CARD NO: 17, PAGE NO: 0
no address
ROW NO: 17, CARD NO: 18, PAGE NO: 0
no address
ROW NO: 18, CARD NO: 19, PAGE NO: 0
no address
ROW NO: 19, CARD NO: 20, PAGE NO: 0
reached card no: 20, error:
...next page
ROW NO: 19, CARD NO: 0, PAGE NO: 1
ROW NO: 20, CARD NO: 1, PAGE NO: 1
ROW NO: 21, CARD NO: 2, PAGE NO: 1
ROW NO: 22, CARD NO: 3, PAGE NO: 1
ROW NO: 23, CARD NO: 4, PAGE NO: 1
ROW NO: 24, CARD NO: 5, PAGE NO: 1
no address
ROW NO: 25, CARD NO: 6, PAGE NO: 1
no address
ROW NO: 26, CARD NO: 7, PAGE NO: 1
ROW NO: 27, CARD NO: 8, PAGE NO: 1
no address
ROW NO: 28, CARD NO: 9, PAGE NO: 1
ROW NO: 29, CARD NO: 10, PAGE NO: 1
ROW NO: 30, CARD NO: 11, PAGE NO: 1
ROW NO: 31, CARD NO: 12, PAGE NO: 1
no experience
no address
ROW NO: 32, CARD NO: 13, PAGE NO: 1
ROW NO: 33, CARD NO: 14, PAGE NO: 1
no address
ROW NO: 34, CARD NO: 15, PAGE NO: 1
ROW NO: 35, CARD NO: 16, PAGE NO: 1
no experience
ROW NO: 36, CARD NO: 17, PAGE NO: 1
no address
ROW NO: 37, CARD NO: 18, PAGE NO: 1
no address
ROW NO: 38, CARD NO: 19, PAGE NO: 1
ROW NO: 39, CARD NO: 20, PAGE NO: 1
reached card no: 20, error:
...next page
ROW NO: 39, CARD NO: 0, PAGE NO: 2
ROW NO: 40, CARD NO: 1, PAGE NO: 2
ROW NO: 41, CARD NO: 2, PAGE NO: 2
ROW NO: 42, CARD NO: 3, PAGE NO: 2
ROW NO: 43, CARD NO: 4, PAGE NO: 2
ROW NO: 44, CARD NO: 5, PAGE NO: 2
ROW NO: 45, CARD NO: 6, PAGE NO: 2
no address
ROW NO: 46, CARD NO: 7, PAGE NO: 2
no experience
ROW NO: 47, CARD NO: 8, PAGE NO: 2
no address
ROW NO: 48, CARD NO: 9, PAGE NO: 2
no address
ROW NO: 49, CARD NO: 10, PAGE NO: 2
no address
ROW NO: 50, CARD NO: 11, PAGE NO: 2
ROW NO: 51, CARD NO: 12, PAGE NO: 2
no experience
no address
ROW NO: 52, CARD NO: 13, PAGE NO: 2
ROW NO: 53, CARD NO: 14, PAGE NO: 2
no address
ROW NO: 54, CARD NO: 15, PAGE NO: 2
ROW NO: 55, CARD NO: 16, PAGE NO: 2
ROW NO: 56, CARD NO: 17, PAGE NO: 2
ROW NO: 57, CARD NO: 18, PAGE NO: 2
no address
ROW NO: 58, CARD NO: 19, PAGE NO: 2
no experience
ROW NO: 59, CARD NO: 20, PAGE NO: 2
reached card no: 20, error:
...next page
ROW NO: 59, CARD NO: 0, PAGE NO: 3
reached card no: 0, error:
...next page
no more jobs to scrape

In [26]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,CPG CORPORATION PTE LTD,CPG CONSULTANTS PTE LTD,Senior / Engineer (Applications and Data Analy...,West,Contract,Executive,Architecture / Interior Design,1.0,NaN,Posted today,1,02 Apr 2024,"WESTGATE TOWER, 1 GATEWAY DRIVE 608531",3,02 May 2024,Roles & Responsibilities\nJob Responsibilities...
1,TENTEN PARTNERS PTE. LTD.,None,Financial Crime Compliance Analytics Manager,Central,Permanent,Executive,Banking And Finance,1.0,NaN,Posted today,1,02 Apr 2024,"MYP CENTRE, 9 BATTERY ROAD 049910",3,02 May 2024,Roles & Responsibilities\nJob Description:\n\n...
2,COMPIT CONSULTANTS PTE LTD,None,Data Engineer,Islandwide,Contract,Professional,Consulting,0.0,NaN,Posted today,0,02 Apr 2024,None,5,02 May 2024,Roles & Responsibilities\nWe are looking Data ...
3,ADECCO PERSONNEL PTE LTD,None,Data Analytics,Central,Contract,Executive,Junior Others,4.0,NaN,Posted today,4,02 Apr 2024,"SHAW CENTRE, 1 SCOTTS ROAD 228208",2,16 Apr 2024,Roles & Responsibilities\nDevelop and improve ...
4,EPS CONSULTANTS PTE LTD,None,Research and Data Maintenance Executive (6 Mon...,Central,Contract,Executive,Admin / Secretarial,0.0,NaN,Posted today,0,02 Apr 2024,160 ROBINSON ROAD 068914,1,02 May 2024,"Roles & Responsibilities\n6-Month contract, hi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,IDC TECHNOLOGIES (SINGAPORE) PTE. LTD.,None,Data Engineer,Central,Contract,Professional,Information Technology,13.0,NaN,Posted 11 days ago,13,22 Mar 2024,"GB BUILDING, 143 CECIL STREET 069542",None,05 Apr 2024,Roles & Responsibilities\nResponsibilities:\nD...
60,SAP ASIA PTE. LTD.,None,Associate AI Scientist / AI Scientist – Artifi...,South,Permanent,Executive,Information Technology,6000.0,9000.0,Monthly,None,None,None,None,None,None
61,TIKTOK PTE. LTD.,None,Data Scientist-User Growth Tiktok,Central,Full Time,Executive,Engineering,10000.0,20000.0,Monthly,None,None,None,None,None,None
62,NATIONAL UNIVERSITY OF SINGAPORE,None,Research Fellow (IDS-Cisco),South,Full Time,Professional,Sciences / Laboratory / R&D,6000.0,9000.0,Monthly,None,None,None,None,None,None
63,RECRUIT EXPERT PTE. LTD.,None,Business Development Executive (Online Sales T...,Central,Permanent,Executive,Junior Others,5000.0,6000.0,Monthly,None,None,None,None,None,None

In [27]:
jobs.to_csv("jobs_data-analytics.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)

## Data science

In [53]:
scrape_mycareersfuture("data%20science")

ROW NO: -1, CARD NO: 0, PAGE NO: 0
ROW NO: 0, CARD NO: 1, PAGE NO: 0
ROW NO: 1, CARD NO: 2, PAGE NO: 0
ROW NO: 2, CARD NO: 3, PAGE NO: 0
no address
ROW NO: 3, CARD NO: 4, PAGE NO: 0
no address
ROW NO: 4, CARD NO: 5, PAGE NO: 0
ROW NO: 5, CARD NO: 6, PAGE NO: 0
ROW NO: 6, CARD NO: 7, PAGE NO: 0
no posted info
ROW NO: 7, CARD NO: 8, PAGE NO: 0
no address
ROW NO: 8, CARD NO: 9, PAGE NO: 0
no address
ROW NO: 9, CARD NO: 10, PAGE NO: 0
ROW NO: 10, CARD NO: 11, PAGE NO: 0
no experience
no address
ROW NO: 11, CARD NO: 12, PAGE NO: 0
no experience
no address
ROW NO: 12, CARD NO: 13, PAGE NO: 0
ROW NO: 13, CARD NO: 14, PAGE NO: 0
ROW NO: 14, CARD NO: 15, PAGE NO: 0
no address
ROW NO: 15, CARD NO: 16, PAGE NO: 0
ROW NO: 16, CARD NO: 17, PAGE NO: 0
ROW NO: 17, CARD NO: 18, PAGE NO: 0
ROW NO: 18, CARD NO: 19, PAGE NO: 0
ROW NO: 19, CARD NO: 20, PAGE NO: 0
no experience
ROW NO: 20, CARD NO: 21, PAGE NO: 0
...next page
ROW NO: 21, CARD NO: 0, PAGE NO: 1
no posted info
no address
ROW NO: 22, CARD NO: 1, PAGE NO: 1
ROW NO: 23, CARD NO: 2, PAGE NO: 1
no posted info
ROW NO: 24, CARD NO: 3, PAGE NO: 1
ROW NO: 25, CARD NO: 4, PAGE NO: 1
no address
ROW NO: 26, CARD NO: 5, PAGE NO: 1
ROW NO: 27, CARD NO: 6, PAGE NO: 1
ROW NO: 28, CARD NO: 7, PAGE NO: 1
ROW NO: 29, CARD NO: 8, PAGE NO: 1
ROW NO: 30, CARD NO: 9, PAGE NO: 1
no address
ROW NO: 31, CARD NO: 10, PAGE NO: 1
ROW NO: 32, CARD NO: 11, PAGE NO: 1
ROW NO: 33, CARD NO: 12, PAGE NO: 1
no address
ROW NO: 34, CARD NO: 13, PAGE NO: 1
no address
ROW NO: 35, CARD NO: 14, PAGE NO: 1
ROW NO: 36, CARD NO: 15, PAGE NO: 1
ROW NO: 37, CARD NO: 16, PAGE NO: 1
ROW NO: 38, CARD NO: 17, PAGE NO: 1
no experience
ROW NO: 39, CARD NO: 18, PAGE NO: 1
ROW NO: 40, CARD NO: 19, PAGE NO: 1
ROW NO: 41, CARD NO: 20, PAGE NO: 1
no experience
ROW NO: 42, CARD NO: 21, PAGE NO: 1
no address
...next page
ROW NO: 43, CARD NO: 0, PAGE NO: 2
ROW NO: 44, CARD NO: 1, PAGE NO: 2
ROW NO: 45, CARD NO: 2, PAGE NO: 2
reached card no: 2, error:
...next page
no more jobs to scrape

In [54]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,OKRATIN SOLUTIONS PTE. LTD.,None,Clinical Nurse,Central,Full Time,Executive,Medical / Therapy Services,8000,15000,Monthly,0,02 Apr 2024,"SGX CENTRE I, 2 SHENTON WAY 068804",5,16 Apr 2024,Roles & Responsibilities\nAbout:\nOkratin is a...
1,OKRATIN SOLUTIONS PTE. LTD.,None,Sales Manager,Central,Full Time,Senior Executive,Sales / Retail,5000,15000,Monthly,4,02 Apr 2024,"SGX CENTRE I, 2 SHENTON WAY 068804",5,02 May 2024,Roles & Responsibilities\nAbout:\nOkratin is a...
2,ST ENGINEERING URBAN SOLUTIONS LTD.,Recommended based on your skills & job applica...,"Assistant Principal Engineer, Artificial Intel...",West,Full Time,Manager,Engineering3 Years Exp,4000,8000,Monthly,6,07 Mar 2024,100 JURONG EAST STREET 21 609602,3,06 Apr 2024,Roles & Responsibilities\nJob Description:\nMa...
3,CONSTRUCTOR TECHNOLOGY PTE. LTD.,None,HR Generalist,Central,Full Time,Executive,Human Resources,4000,7000,Monthly,4,02 Apr 2024,None,5,23 Apr 2024,Roles & Responsibilities\nAbout Constructor\n\...
4,QUESS SELECTION & SERVICES PTE. LTD.,None,"Data Developer (Python, Kubernetes, API)",Islandwide,Contract,Professional,Information Technology,6500,8000,Monthly,1,02 Apr 2024,None,3,16 Apr 2024,Roles & Responsibilities\nRoles & Responsibili...
5,INFOSYS LIMITED SINGAPORE BRANCH,None,Test Manager,South,Permanent,Manager,Information Technology,8000,12500,Monthly,4,02 Apr 2024,"KEPPEL BAY TOWER, 1 HARBOURFRONT AVENUE 098632",10,02 May 2024,Roles & Responsibilities\nAbout Infosys:\nInfo...
6,NTT DATA SINGAPORE PTE. LTD.,None,Data Scientist ( 9 months contract ),Central,Contract,Professional,Information Technology,6000,8000,Monthly,3,02 Apr 2024,"REPUBLIC PLAZA, 9 RAFFLES PLACE 048619",4,02 May 2024,Roles & Responsibilities\nData Scientist Healt...
7,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Data-efficient machine...,South,Contract,Professional,Sciences / Laboratory / R&D,8100,14000,Monthly,None,None,1 Create Way 138602,1,None,Roles & Responsibilities\nJob Description\nWe ...
8,REMOTE TECH SINGAPORE PTE. LTD.,None,"Senior Product Manager, Economic Design",Islandwide,Full Time,Professional,Consulting,15000,18000,Monthly,5,02 Apr 2024,None,3,16 Apr 2024,Roles & Responsibilities\nJob Overview:\nYou w...
9,SPRAOI SOFTWARE SERVICES PTE. LTD.,None,Teradata Engineer (Contract),Central,Contract,Professional,Information Technology,9000,12500,Monthly,1,02 Apr 2024,None,8,16 Apr 2024,Roles & Responsibilities\nRole:\n· Provide tec...
10,GMP TECHNOLOGIES (S) PTE LTD,None,Data Analyst (Python / R) - Healthcare | Perm,Central,Permanent,Executive,Junior Information Technology,3800,4300,Monthly,8,02 Apr 2024,"ONE FINLAYSON GREEN, 1 FINLAYSON GREEN 049246",3,02 May 2024,Roles & Responsibilities\nJob Responsibilities...
11,BIOQUEST ADVISORY PTE. LTD.,None,AI Consulting Assistant *Fresh Diploma Grads a...,Islandwide,Contract,Fresh/Entry Level,Consulting,3000,4000,Monthly,1,02 Apr 2024,None,None,02 May 2024,Roles & Responsibilities\nWe are looking for m...
12,BIOQUEST ADVISORY PTE. LTD.,None,AI Internship to Permanent,Islandwide,Internship/Attachment,Fresh/Entry Level,Banking And Finance,1030,1030,Monthly,1,02 Apr 2024,None,None,02 May 2024,Roles & Responsibilities\nThis AI internship i...
13,DHL EXPRESS (SINGAPORE) PTE. LTD.,Recommended based on your skills & job applica...,Data Scientist,Central,Permanent,Professional,Logistics / Supply Chain4 Years Exp,8400,15000,Monthly,209,05 Mar 2024,"APERIA TOWER 2, #11-10 10 KALLANG AVENUE 339510",4,04 Apr 2024,Roles & Responsibilities\nRole Purpose\n\nIn a...
14,BIOFOURMIS SINGAPORE PTE. LTD.,None,"Senior Manager, System Engineering",West,Permanent,Manager,Engineering,8000,10000,Monthly,1,02 Apr 2024,"VISION EXCHANGE, 2 VENTURE DRIVE 608526",5,02 May 2024,Roles & Responsibilities\nSupport systems engi...
15,CASTLERY PRIVATE LIMITED,None,Senior Data Scientist,Central,Permanent,Senior Executive,Information Technology,6000,10000,Monthly,5,02 Apr 2024,None,3,02 May 2024,Roles & Responsibilities\nAbout Castlery\n\nCa...
16,SYNAPXE PTE. LTD.,None,Project Manager (Data Science),North,Permanent,Middle Management,Information Technology,9000,14000,Monthly,57,02 Apr 2024,6 SERANGOON NORTH AVENUE 5 554910,8,02 May 2024,Roles & Responsibilities\nResponsibilities:\nD...
17,SYNAPXE PTE. LTD.,None,Senior Data Engineer,North,Permanent,Manager,Information Technology,8000,12000,Monthly,31,02 Apr 2024,6 SERANGOON NORTH AVENUE 5 554910,7,02 May 2024,Roles & Responsibilities\nWe are expanding our...
18,DANONE ASIA PACIFIC HOLDINGS PTE. LTD.,None,Data Scientist,Central,Full Time,Manager,F&B,7000,13000,Monthly,15,02 Apr 2024,"MAPLETREE ANSON, 60 ANSON ROAD 079914",3,16 Apr 2024,Roles & Responsibilities\nThe Data Science tea...
19,KRYJAS PRIVATE LIMITED,None,Teradata Engineer,Central,Contract,Professional,Information Technology,9000,12500,Monthly,4,02 Apr 2024,"BANGKOK BANK BUILDING, 180 CECIL STREET 069546",8,16 Apr 2024,Roles & Responsibilities\nResponsibilities:\n·...
20,SINGAPORE UNIVERSITY OF TECHNOLOGY AND DESIGN,None,Research Assistant / Senior Research Assistant,East,Contract,Executive,Non-Sciences / Laboratory / R&D,3400,5600,Monthly,1,02 Apr 2024,8 SOMAPAH ROAD 487372,None,16 Apr 2024,Roles & Responsibilities\nResearch Assistant p...
21,NEW TONE CONSULTING PTE. LTD.,None,Data Scientist,Central,Contract,Executive,Non-Information Technology,5000,9900,Monthly,14,02 Apr 2024,"TOKIO MARINE CENTRE, 20 MCCALLUM STREET 069046",2,02 May 2024,Roles & Responsibilities\nJoin our dynamic tea...
22,ARISTON SERVICES PTE. LTD.,None,AI / ML Solution Architect,Islandwide,Full Time,Manager,Banking And Finance,8000,10000,Monthly,None,None,None,12,None,Roles & Responsibilities\nRole Description\nLo...
23,HAYS SPECIALIST RECRUITMENT PTE. LTD.,None,Data Engineer,Central,Permanent,Executive,Information Technology,6000,8500,Monthly,25,01 Apr 2024,"UOB PLAZA, 80 RAFFLES PLACE 048624",3,01 May 2024,Roles & Responsibilities\nMy client is a globa...
24,OKRATIN SOLUTIONS PTE. LTD.,Recommended based on your skills & job applica...,RESEARCH AND DEVELOPMENT (R&D) DIRECTOR,Central,Full Time,Senior Management,Engineering7 Years Exp,20000,33000,Monthly,None,None,"SGX CENTRE I, 2 SHENTON WAY 068804",7,None,Roles & Responsibilities\nAbout:\nOkratin is a...
25,QUBE RESEARCH & TECHNOLOGIES SINGAPORE PTE. LTD.,None,Quantitative Trader,Central,Permanent,Professional,Banking And Finance,11250,22500,Monthly,10,01 Apr 2024,"SIX BATTERY ROAD, 6 BATTERY ROAD 049909",3,15 Apr 2024,Roles & Responsibilities\nYour future role wit...
26,HAYS SPECIALIST RECRUITMENT PTE. LTD.,None,AVP - Data Scientist (MLops),Central,Permanent,Executive,Information Technology,8000,9800,Monthly,8,01 Apr 2024,None,4,01 May 2024,Roles & Responsibilities\nYour new company\nA ...
27,HAYS SPECIALIST RECRUITMENT PTE. LTD.,None,Data Scientist,Central,Permanent,Senior Executive,Information Technology,8000,9800,Monthly,12,01 Apr 2024,"UOB PLAZA, 80 RAFFLES PLACE 048624",4,01 May 2024,Roles & Responsibilities\nYour new company\nA ...
28,ABIORES PTE. LTD.,None,"Assistant Manager / Manager, Regulatory Affairs",South,Permanent,Manager,Healthcare / Pharmaceutical,1,1,Monthly,3,01 Apr 2024,"ALEXANDRA TECHNOPARK, 438A ALEXANDRA ROAD 119967",1,01 May 2024,Roles & Responsibilities\nAssistant Manager / ...
29,ABIORES PTE. LTD.,None,"Assistant Manager / Manager, R&D",South,Permanent,Manager,Healthcare / Pharmaceutical,1,1,Monthly,3,01 Apr 2024,"ALEXANDRA TECHNOPARK, 438A ALEXANDRA ROAD 119967",1,01 May 2024,Roles & Responsibilities\nAssistant Manager / ...
30,HYPERGAI PTE. LTD.,None,AI Engineer (Data),Central,Full Time,Executive,Engineering,8000,16000,Monthly,13,01 Apr 2024,"INTERNATIONAL PLAZA, 10 ANSON ROAD 079903",3,01 May 2024,Roles & Responsibilities\nAbout HyperGAI\n\nHy...
31,QUESS SELECTION & SERVICES PTE. LTD.,None,"Data Machine learning Engineer (Kubernetes, AP...",Islandwide,Contract,Professional,Information Technology,6500,8000,Monthly,9,01 Apr 2024,None,4,15 Apr 2024,Roles & Responsibilities\nRoles & Responsibili...
32,SNOWFLAKE COMPUTING SINGAPORE PTE. LTD.,None,Senior Sales Engineer,Central,Permanent,Professional,Information Technology,19000,38000,Monthly,9,01 Apr 2024,"SGX CENTRE II, 4 SHENTON WAY 068807",5,01 May 2024,Roles & Responsibilities\nThere is only one Da...
33,SNOWFLAKE COMPUTING SINGAPORE PTE. LTD.,None,Sales Engineer,Central,Permanent,Professional,Information Technology,13000,24000,Monthly,10,01 Apr 2024,"SGX CENTRE II, 4 SHENTON WAY 068807",5,01 May 2024,Roles & Responsibilities\nThere is only one Da...
34,QUESSCORP SINGAPORE PTE. LTD.,None,"Machine learning Engineer (Kubernetes, API, Cl...",Islandwide,Contract,Professional,Information Technology,6500,8000,Monthly,6,01 Apr 2024,None,3,15 Apr 2024,Roles & Responsibilities\nRoles & Responsibili...
35,IT CONSULTANCY & SERVICES PTE LTD,Recommended based on your skills & job applica...,Artificial Intelligence / Machine Learning Eng...,Islandwide,Contract,Executive,Information Technology4 Years Exp,5000,6500,Monthly,23,10 Mar 2024,None,4,09 Apr 2024,Roles & Responsibilities\nRequirement\nDiploma...
36,STRIPE PAYMENTS SINGAPORE PTE. LTD.,None,Risk Partner Manager,Central,Full Time,Manager,Risk Management,12000,18000,Monthly,20,01 Apr 2024,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...",5,15 Apr 2024,Roles & Responsibilities\nWho we are\nAbout St...
37,STANDARD CHARTERED BANK (SINGAPORE) LIMITED,None,Financial Crime Operational Transformation Lead,Central,Permanent,Middle Management,Banking And Finance,15000,20000,Monthly,15,01 Apr 2024,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...",10,15 Apr 2024,Roles & Responsibilities\nJOB SUMMARY\nThe Fin...
38,ASTEK SINGAPORE INNOVATION TECHNOLOGY PTE. LTD.,None,Machine Learning Architect,Central,Full Time,Senior Executive,Information Technology,8000,12000,Monthly,4,01 Apr 2024,"HONG LEONG BUILDING, 16 RAFFLES QUAY 048581",8,01 May 2024,Roles & Responsibilities\nAstek is offering a ...
39,THIS IS SYNTHESIS PTE. LTD.,None,Junior Data Scientist,Central,Full Time,Executive,Junior Consulting,5000,7500,Monthly,41,01 Apr 2024,"CAVAN HAUS, 21 CAVAN ROAD 209852",None,01 May 2024,Roles & Responsibilities\n👋 Apply here https:/...
40,AMPLIFY HEALTH ASIA PTE. LIMITED,None,"Senior, Data & Analytics Health Specialist",Central,Permanent,Professional,Others,10000,18000,Monthly,60,01 Apr 2024,"21 COLLYER QUAY, 21 COLLYER QUAY 049320",7,15 Apr 2024,Roles & Responsibilities\nInstructions for int...
41,SIEMENS HEALTHCARE PTE. LTD.,None,AI Scientist,Central,Permanent,Professional,Healthcare / Pharmaceutical,6000,12000,Monthly,23,01 Apr 2024,"THE SIEMENS CENTRE, 60 MACPHERSON ROAD 348615",2,01 May 2024,Roles & Responsibilities\nDo you want to join ...
42,GMP RECRUITMENT SERVICES (S) PTE LTD,None,Junior Data Scientist,Central,Contract,Executive,Junior Engineering,3500,7000,Monthly,25,30 Mar 2024,"ONE FINLAYSON GREEN, 1 FINLAYSON GREEN 049246",None,29 Apr 2024,Roles & Responsibilities\n⭐Junior Data Scienti...
43,SINGAPORE HEALTH SERVICES PTE LTD,None,"Executive, Office of Risk Services",South,Permanent,Executive,Admin / Secretarial,3500,5000,Monthly,35,30 Mar 2024,None,2,29 Apr 2024,Roles & Responsibilities\nYou will support the...
44,AZTECH TECHNOLOGIES PTE. LTD.,Recommended based on your skills & job applica...,Software Engineer (Artificial Intelligence),East,Permanent,Executive,Engineering2 Years Exp,3000,7000,Monthly,45,13 Mar 2024,31 UBI ROAD 1 408694,2,12 Apr 2024,Roles & Responsibilities\nSoftware Engineer (A...
45,DHL EXPRESS (SINGAPORE) PTE. LTD.,Recommended based on your skills & job applica...,Senior Domain Director,Central,Permanent,Middle Management,Information Technology10 Years Exp,15000,22000,Monthly,28,18 Mar 2024,"Aperia Tower 2, #11-10 10 Kallang Avenue 339510",10,17 Apr 2024,Roles & Responsibilities\nRole Purpose\nThe Se...

In [55]:
jobs.to_csv("jobs_data-science.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)

## Machine learning

In [56]:
scrape_mycareersfuture("machine%20learning")

ROW NO: -1, CARD NO: 0, PAGE NO: 0
ROW NO: 0, CARD NO: 1, PAGE NO: 0
no address
ROW NO: 1, CARD NO: 2, PAGE NO: 0
ROW NO: 2, CARD NO: 3, PAGE NO: 0
no address
ROW NO: 3, CARD NO: 4, PAGE NO: 0
ROW NO: 4, CARD NO: 5, PAGE NO: 0
no experience
ROW NO: 5, CARD NO: 6, PAGE NO: 0
ROW NO: 6, CARD NO: 7, PAGE NO: 0
no experience
ROW NO: 7, CARD NO: 8, PAGE NO: 0
ROW NO: 8, CARD NO: 9, PAGE NO: 0
no experience
ROW NO: 9, CARD NO: 10, PAGE NO: 0
ROW NO: 10, CARD NO: 11, PAGE NO: 0
ROW NO: 11, CARD NO: 12, PAGE NO: 0
ROW NO: 12, CARD NO: 13, PAGE NO: 0
no address
ROW NO: 13, CARD NO: 14, PAGE NO: 0
ROW NO: 14, CARD NO: 15, PAGE NO: 0
no posted info
no experience
ROW NO: 15, CARD NO: 16, PAGE NO: 0
ROW NO: 16, CARD NO: 17, PAGE NO: 0
ROW NO: 17, CARD NO: 18, PAGE NO: 0
ROW NO: 18, CARD NO: 19, PAGE NO: 0
ROW NO: 19, CARD NO: 20, PAGE NO: 0
ROW NO: 20, CARD NO: 21, PAGE NO: 0
no address
...next page
ROW NO: 21, CARD NO: 0, PAGE NO: 1
no address
ROW NO: 22, CARD NO: 1, PAGE NO: 1
ROW NO: 23, CARD NO: 2, PAGE NO: 1
reached card no: 2, error:
...next page
no more jobs to scrape

In [57]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,LAWNET TECHNOLOGY SERVICES PTE. LTD.,None,NLP / Data Engineer,East,Full Time,Professional,Information Technology,5300,8700,Monthly,0,02 Apr 2024,"THE ADELPHI, 1 COLEMAN STREET 179803",7,02 May 2024,Roles & Responsibilities\nAbout the role:\nAs ...
1,QUESS SELECTION & SERVICES PTE. LTD.,None,"Data Developer (Python, Kubernetes, API)",Islandwide,Contract,Professional,Information Technology,6500,8000,Monthly,1,02 Apr 2024,None,3,16 Apr 2024,Roles & Responsibilities\nRoles & Responsibili...
2,AIRWALLEX (SINGAPORE) PTE. LTD.,Recommended based on your skills & job applica...,"Senior Data Scientist, Algorithm",Central,Full Time,Senior Executive,Engineering5 Years Exp,11250,22500,Monthly,61,14 Mar 2024,"PRUDENTIAL TOWER, 30 CECIL STREET 049712",5,13 Apr 2024,Roles & Responsibilities\nResponsibilities\nDe...
3,ENCORA TECHNOLOGIES PTE. LTD.,None,Technical Cloud Solution Architect,Islandwide,Contract,Middle Management,Information Technology,7000,12500,Monthly,0,02 Apr 2024,None,6,16 Apr 2024,Roles & Responsibilities\nRequirements\n3+ yea...
4,EXECUTIVE SEARCH PRIVATE LIMITED,None,R&D Engineer (FPGA / Linux) - Electronics Indu...,East,Permanent,Senior Executive,Design,4000,6000,Monthly,1,02 Apr 2024,15 Changi Business Park 486057,3,09 Apr 2024,Roles & Responsibilities\nROLE AND RESPONSIBIL...
5,NANYANG TECHNOLOGICAL UNIVERSITY,None,Research Fellow (Computer Science / Machine Le...,West,Contract,Professional,Sciences / Laboratory / R&D,6696,11603,Monthly,0,02 Apr 2024,"NANYANG TECHNOLOGICAL UNIVERSITY, 50 NANYANG A...",None,16 Apr 2024,Roles & Responsibilities\nThe S-Lab for Advanc...
6,KLA-TENCOR (SINGAPORE) PTE. LTD.,None,Algorithm Engineer (R&D),North,Permanent,Professional,Engineering,6000,11000,Monthly,1,02 Apr 2024,23 SERANGOON NORTH AVENUE 5 554530,5,02 May 2024,Roles & Responsibilities\nResponsibilities:\nT...
7,NANYANG TECHNOLOGICAL UNIVERSITY,None,Project Officer (Computer Engineering / Comput...,West,Contract,Professional,Sciences / Laboratory / R&D,4522,7533,Monthly,0,02 Apr 2024,"NANYANG TECHNOLOGICAL UNIVERSITY, 50 NANYANG A...",None,16 Apr 2024,Roles & Responsibilities\nS-Lab for Advanced I...
8,NTT DATA SINGAPORE PTE. LTD.,None,Data Scientist ( 9 months contract ),Central,Contract,Professional,Information Technology,6000,8000,Monthly,3,02 Apr 2024,"REPUBLIC PLAZA, 9 RAFFLES PLACE 048619",4,02 May 2024,Roles & Responsibilities\nData Scientist Healt...
9,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Human-Robot Interactio...,South,Contract,Professional,Sciences / Laboratory / R&D,8100,14000,Monthly,3,02 Apr 2024,1 Create Way 138602,None,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
10,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Data-efficient machine...,South,Contract,Professional,Sciences / Laboratory / R&D,8100,14000,Monthly,5,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nJob Description\nWe ...
11,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Designing human-AI tea...,South,Contract,Professional,Engineering,8100,14000,Monthly,10,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
12,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Research Engineer (Designing human-AI teams) (CS),South,Contract,Professional,Engineering,5900,10000,Monthly,18,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
13,HYUNDAI MOTOR GROUP INNOVATION CENTER IN SINGA...,Recommended based on your skills & job applica...,Artificial Intelligence (AI) Engineer,West,Permanent,Professional,Sciences / Laboratory / R&D2 Years Exp,6000,12000,Monthly,127,15 Mar 2024,None,2,14 Apr 2024,Roles & Responsibilities\nOverview\nThis posit...
14,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Research Scientist (Designing human-AI teams) ...,South,Contract,Professional,Engineering,8900,17000,Monthly,17,02 Apr 2024,1 Create Way 138602,1,02 May 2024,Roles & Responsibilities\nProject Overview\nWe...
15,SINGAPORE-MIT ALLIANCE FOR RESEARCH AND TECHNO...,None,Postdoctoral Associate (Integrated human-machi...,South,Contract,Professional,Engineering,8100,14000,Monthly,None,None,1 Create Way 138602,None,None,Roles & Responsibilities\nProject Overview\nWe...
16,SPRAOI SOFTWARE SERVICES PTE. LTD.,None,Teradata Engineer (Contract),Central,Contract,Professional,Information Technology,9000,12500,Monthly,1,02 Apr 2024,32 PEKIN STREET 048762,8,16 Apr 2024,Roles & Responsibilities\nRole:\n· Provide tec...
17,JONDAVIDSON PTE. LTD.,None,Data Engineer / Scientist,Central,Full Time,Senior Executive,Information Technology,5500,11000,Monthly,55,02 Apr 2024,"CT HUB, 2 KALLANG AVENUE 339407",3,02 May 2024,Roles & Responsibilities\nDevelop and implemen...
18,LAWNET TECHNOLOGY SERVICES PTE. LTD.,None,MLOps Engineer,East,Full Time,Professional,Information Technology,5300,8700,Monthly,1,02 Apr 2024,"THE ADELPHI, 1 COLEMAN STREET 179803",7,02 May 2024,Roles & Responsibilities\nAbout the role\nWe a...
19,LAWNET TECHNOLOGY SERVICES PTE. LTD.,None,AI Engineer,East,Full Time,Middle Management,Information Technology,5300,8700,Monthly,2,02 Apr 2024,"THE ADELPHI, 1 COLEMAN STREET 179803",7,02 May 2024,Roles & Responsibilities\nAbout the role\nAs a...
20,DYSON OPERATIONS PTE. LTD.,None,"Senior Manager, Contact Center & Repair",South,Permanent,Middle Management,Customer Service,12000,20000,Monthly,9,02 Apr 2024,3 SENTOSA GATEWAY 098544,10,02 May 2024,Roles & Responsibilities\nAbout Us\nDyson empl...
21,BIOQUEST ADVISORY PTE. LTD.,None,Full Stack Developer (Diploma),Islandwide,Permanent,Professional,Consulting,4000,7000,Monthly,1,02 Apr 2024,None,5,02 May 2024,Roles & Responsibilities\nRole Overview\n\nIn ...
22,UNITED OVERSEAS BANK LIMITED,Recommended based on your skills & job applica...,"VP, Machine Learning Engineer",Islandwide,Full Time,Middle Management,Information Technology10 Years Exp,8000,16000,Monthly,37,26 Mar 2024,None,10,09 Apr 2024,Roles & Responsibilities\nYou will be responsi...
23,FOURTH PARADIGM SOUTHEAST ASIA PTE. LTD.,Recommended based on your skills & job applica...,Machine Learning Algorithm Engineer,South,Full Time,Fresh/Entry Level,Engineering1 Year Exp,6000,14000,Monthly,76,07 Mar 2024,"GALAXIS, 1 FUSIONOPOLIS PLACE 138522",1,06 Apr 2024,Roles & Responsibilities\nCompany Introduction...

In [58]:
jobs.to_csv("jobs_ml.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)