In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, TimeoutException, ElementClickInterceptedException
from time import sleep

# Define .csv

In [3]:
import pandas as pd

# Define columns for the DataFrame
columns = [
    'company_name', 
    'recruiter_name',
    'job_title', 
    'location', 
    'employment_type',
    'job_level', 
    'job_function', 
    'salary_lower', 
    'salary_upper', 
    'salary_period',
    'num_applications', 
    'posted_date',
    'address',
    'experience',
    'closing_date',
    'job_description'
]

# Create an empty DataFrame with the defined columns
jobs = pd.DataFrame(columns=columns)

# Functions

In [4]:
# Define dictionaries/lists for categories
locations = ['Central', 'East', 'North', 'South', 'West', 'Islandwide']
employment_types = ['Permanent', 'Full Time', 'Part Time', 'Contract', 'Flexi-work', 'Temporary', 'Freelance', 'Internship/Attachment']
job_levels = ['Senior Management', 'Middle Management', 'Manager', 'Professional', 'Senior Executive', 'Executive', 'Junior Executive', 'Non-executive', 'Fresh/Entry Level']

# Example strings
example_strings = [
    "CentralContractJunior ExecutiveEngineering ...",
    "IslandwideContract ...Fresh/Entry LevelEducation And Training ...",
    "SouthInternship/AttachmentFresh/Entry LevelHealthcare / Pharmaceutical",
    "IslandwideContract ...ProfessionalBanking And Finance ...",
    "Contract ...ProfessionalBanking And Finance ..."
]

# Function to split the string and determine values for each category
def parse_contract_type(string):
    clean_str = string.replace(" ...", "")
    res_location, res_employment_type, res_job_level, res_job_function = None, None, None, None
    for location in locations:
        if location in clean_str:
            res_location = location
            clean_str = clean_str.replace(location, '')
            break
    for employment_type in employment_types:
        if employment_type in clean_str:
            res_employment_type = employment_type
            clean_str = clean_str.replace(employment_type, '')
            break
    for job_level in job_levels:
        if job_level in clean_str:
            res_job_level = job_level
            clean_str = clean_str.replace(job_level, '')
            break
    res_job_function = clean_str.strip()

    return res_location, res_employment_type, res_job_level, res_job_function  

# Print test
for i in example_strings:
    print(list(parse_contract_type(i)))

['Central', 'Contract', 'Executive', 'Junior Engineering']
['Islandwide', 'Contract', 'Fresh/Entry Level', 'Education And Training']
['South', 'Internship/Attachment', 'Fresh/Entry Level', 'Healthcare / Pharmaceutical']
['Islandwide', 'Contract', 'Professional', 'Banking And Finance']
[None, 'Contract', 'Professional', 'Banking And Finance']

In [5]:
def parse_salary_range(salary_range):
    # Extract upper and lower salary values
    salary_values = re.findall(r'(\d+(?:,\d+)?)', salary_range)
    salary_lower = int(salary_values[0].replace(',', '')) if salary_values else None
    salary_upper = int(salary_values[1].replace(',', '')) if len(salary_values) > 1 else None
    
    return salary_lower, salary_upper

In [6]:
import re

def parse_applications(applications):
    if applications:
        # Extract only the integer number
        match = re.search(r'\d+', applications)
        num_applications = int(match.group()) if match else None
    else:
        num_applications = None
    return num_applications

In [7]:
'''
GMP RECRUITMENT SERVICES (S) PTE LTD
Junior Data Scientist
CentralContractJunior ExecutiveEngineering ...
0% skills matched
$3,500to$7,000
Monthly
0 application
Posted yesterday
'''

def store_card_info(card, row_no):
    # Split the card information into lines
    lines = card.split('\n')
    
    # Extract relevant information
    company_name, recruiter_name, job_title, contract_type, salary_range, salary_period, applications, posted_date = (None, None, None, None, None, None, None, None)
    if(len(lines) > 8): 
        '''
        for cases such as
        PETROS-CONSULTING PTE. LTD.RECRUITER
        for ST ENGINEERING IHQ PTE. LTD.
        '''
        recruiter_name = lines[0].replace("RECRUITER", "")
        company_name = lines[1].replace("for ", "")
        job_title = lines[2]
        contract_type = lines[3]
        # skills_match = lines[4]
        salary_range = lines[5]
        salary_period = lines[6]
        applications = None #lines[7]
        posted_date = None #lines[8]
    else:
        company_name = lines[0]
        recruiter_name = None
        job_title = lines[1]
        contract_type = lines[2]
        # skills_match = lines[3]
        salary_range = lines[4]
        salary_period = lines[5]
        applications = None #lines[6]
        posted_date = None #lines[7]
    
    # Parse contract_type
    location, employment_type, job_level, job_function = parse_contract_type(contract_type)
    
    # Parse salary_range
    salary_lower, salary_upper = parse_salary_range(salary_range)
    
    # Parse applications
    num_applications = applications #parse_applications(applications)

    # Initialize additional columns
    address = None
    experience = None
    closing_date = None
    job_description = None
    
    # Write
    jobs.loc[row_no] = [
        company_name, 
        recruiter_name,
        job_title, 
        location, 
        employment_type,
        job_level, 
        job_function, 
        salary_lower, 
        salary_upper, 
        salary_period,
        num_applications, 
        posted_date,
        address,
        experience,
        closing_date,
        job_description
    ]

In [8]:
def parse_posting_info(posting_info):
    # Define the pattern to match "applicationsPosted" and "Closing on" as separators
    pattern = r'( applicationPosted | applicationsPosted |Closing on )'

    applications, filler_1, posted_date, filler_2, closing_date = re.split(pattern, posting_info)

    return applications, posted_date, closing_date

posting_info_eg = [
    "4 applicationsPosted 30 Mar 2024Closing on 29 Apr 2024",
    "30 applicationsPosted 29 Mar 2024Closing on 05 Apr 2024",
    "240 applicationsPosted 29 Mar 2024Closing on 28 Apr 2024",
    "0 applicationPosted 31 Mar 2024Closing on 30 Apr 2024",
    "1 applicationPosted 31 Mar 2024Closing on 30 Apr 2024"
]

# Split each string and print the results
for string in posting_info_eg:
    print(parse_posting_info(string))

('4', '30 Mar 2024', '29 Apr 2024')
('30', '29 Mar 2024', '05 Apr 2024')
('240', '29 Mar 2024', '28 Apr 2024')
('0', '31 Mar 2024', '30 Apr 2024')
('1', '31 Mar 2024', '30 Apr 2024')

## Web Scrape function

In [9]:
from random import uniform
# uniform(0.1, 1)

In [10]:
from datetime import datetime
# datetime.today() > datetime.strptime('01 Jan 2024', '%d %b %Y')

In [11]:
def scrape_mycareersfuture(search_term, furthest_date='01 Jan 2023'):
    '''
    furthest_date format: DD Mmm YYYY
    sleep to avoid kick out as bot
    '''
    driver = webdriver.Chrome()
    wait = WebDriverWait(driver, 1)

    page_no = 0
    driver.get(f"https://www.mycareersfuture.gov.sg/search?search={search_term}&sortBy=new_posting_date&page={page_no}")
    row_no = -1
    proceed_to_next_page = True
    furthest_date = datetime.strptime(furthest_date, '%d %b %Y')
    cur_date = datetime.today()
    while proceed_to_next_page and cur_date > furthest_date:
        sleep(uniform(1, 5))
        for card_id in range(22):
            sleep(uniform(1, 2))
            try:
                print(f"ROW NO: {row_no}, CARD NO: {card_id}, PAGE NO: {page_no}")
                card_element = wait.until(EC.element_to_be_clickable((By.ID, f"job-card-{card_id}")))
                card = card_element.text
                # print(card)
                row_no += 1
                store_card_info(card, row_no)
                card_element.click() # wait.until(EC.element_to_be_clickable((By.ID, f"job-card-{card_id}"))).click() # driver.find_element(By.ID, f"job-card-{card_id}").click()
                sleep(uniform(1, 3))
                try:
                    job_description = wait.until(EC.presence_of_element_located((By.ID, "job_description"))).text
                    jobs.at[row_no, 'job_description'] = job_description
                    # print(job_description)
                except:
                    print("no job description")

                try:
                    posting_info = wait.until(EC.presence_of_element_located((By.XPATH, "//section[@id='job-details']/div[@class='w-70-l w-60-ms w-100 pr2-l pr2-ms relative']/div[@class='bg-white pa4'][1]/div[@class='jobInfo w-100 dib v-top relative']/section[2]"))).text
                    # print(posting_info)
                    applications, posted_date, closing_date = parse_posting_info(posting_info)

                    cur_date = datetime.strptime(posted_date, '%d %b %Y')

                    jobs.at[row_no, 'num_applications'] = applications
                    jobs.at[row_no, 'posted_date'] = posted_date
                    jobs.at[row_no, 'closing_date'] = closing_date
                    # print(f"{posted_date}, {closing_date}, {applications}")
                except:
                    print("no posted info")

                try: # <p data-testid="job-details-info-min-experience" class="black-80 f6 fw4 mv1 dib pr3 mr1 icon-bw-period">2 years exp</p>
                    experience = wait.until(EC.presence_of_element_located((By.XPATH, "//p[@data-testid='job-details-info-min-experience']"))).text.replace(" years exp", "").replace(" year exp", "")
                    jobs.at[row_no, 'experience'] = experience
                    # print(experience)
                except:
                    print("no experience")

                try:            
                    address = wait.until(EC.presence_of_element_located((By.XPATH, "//div[@class='db mt3 mb4']/section[@class='w-100 pb3 pb0-ns lh-copy']/p[@class='black-80 f6 fw4 mv1 dib pr3 mr1 icon-bw-location']/a[@class='link brand-sec underline-hover']"))).text
                    jobs.at[row_no, 'address'] = address
                    # print(address)
                except:
                    print("no address")
                
                driver.back()
            except TimeoutException as err:
                print(f"reached card no: {card_id}, error: {err.msg}")
                break            
                
        try:
            print('...next page')
            wait.until(EC.element_to_be_clickable((By.XPATH, "//section[@id='search-results']/div[@class='tc pv3']/button[@class='f5-5 pv2 ph3 mh1 dib black-80 hover-bg-white pointer'][3]"))).click()
            page_no += 1
        except TimeoutException as err:
            '''no more pages left'''
            proceed_to_next_page = False
    print("no more jobs to scrape")
    driver.quit()

In [12]:
# driver = webdriver.Chrome()
# wait = WebDriverWait(driver, 3)
# search_term = "hrwoerowhefo" 
# page_no = 0
# driver.get(f"https://www.mycareersfuture.gov.sg/search?search={search_term}&sortBy=new_posting_date&page={page_no}")
# try:
#     wait.until(EC.element_to_be_clickable((By.XPATH, "//section[@id='search-results']/div[@class='tc pv3']/button[@class='f5-5 pv2 ph3 mh1 dib black-80 hover-bg-white pointer'][3]"))).click()
#     sleep(5)
# except TimeoutException as err:
#     print(err.msg)
# driver.quit()

# Execute scraping

In [57]:
jobs = pd.DataFrame(columns=columns)

## AI

In [58]:
scrape_mycareersfuture("ai")

ROW NO: -1, CARD NO: 0, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 0, CARD NO: 1, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 1, CARD NO: 2, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 2, CARD NO: 3, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 3, CARD NO: 4, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 4, CARD NO: 5, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 5, CARD NO: 6, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 6, CARD NO: 7, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 7, CARD NO: 8, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 8, CARD NO: 9, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 9, CARD NO: 10, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 10, CARD NO: 11, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 11, CARD NO: 12, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 12, CARD NO: 13, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 13, CARD NO: 14, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 14, CARD NO: 15, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 15, CARD NO: 16, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 16, CARD NO: 17, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 17, CARD NO: 18, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 18, CARD NO: 19, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 19, CARD NO: 20, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 20, CARD NO: 21, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
...next page
ROW NO: 21, CARD NO: 0, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 22, CARD NO: 1, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 23, CARD NO: 2, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 24, CARD NO: 3, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 25, CARD NO: 4, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 26, CARD NO: 5, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 27, CARD NO: 6, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 28, CARD NO: 7, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 29, CARD NO: 8, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 30, CARD NO: 9, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 31, CARD NO: 10, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 32, CARD NO: 11, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
no address
ROW NO: 33, CARD NO: 12, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 34, CARD NO: 13, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 35, CARD NO: 14, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 36, CARD NO: 15, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 37, CARD NO: 16, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 38, CARD NO: 17, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 39, CARD NO: 18, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 40, CARD NO: 19, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
ROW NO: 41, CARD NO: 20, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 42, CARD NO: 21, PAGE NO: 1

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no experience
...next page
ROW NO: 43, CARD NO: 0, PAGE NO: 2

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 44, CARD NO: 1, PAGE NO: 2

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 45, CARD NO: 2, PAGE NO: 2
reached card no: 2, error:
...next page
no more jobs to scrape

In [59]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,SGMP PTE. LTD.,None,Creative AI Website Designer (AI Technology Fo...,East,Contract,Professional,Customer Service,2000,3000,Monthly,0,31 Mar 2024,"ESR BIZPARK @ CHAI CHEE, 750C CHAI CHEE ROAD 4...",2,30 Apr 2024,Roles & Responsibilities\nJob Overview:\nWe ar...
1,ONEBYTE PTE. LTD.,None,AI Engineer,East,Permanent,Professional,Engineering,6000,8000,Monthly,12,28 Mar 2024,"UB POINT, 61 UBI AVENUE 1 408941",3,18 Apr 2024,Roles & Responsibilities\nResponsibilities:\n\...
2,INTEL TECHNOLOGY ASIA PTE LTD,Recommended based on your skills & job applica...,Technical Sales Specialist (TSS): AI for Edge,Central,Permanent,Senior Management,Information Technology10 Years Exp,15000,30000,Monthly,23,13 Mar 2024,"Aperia Tower, 10 Kallang Avenue 339510",10,12 Apr 2024,Roles & Responsibilities\nProvides technical e...
3,KNOVEL ENGINEERING PTE. LTD.,None,Software Developer (AI Solutions),Central,Permanent,Executive,Engineering,5500,9000,Monthly,54,28 Mar 2024,"TAI SENG CENTRE, 3 IRVING ROAD 369522",None,27 Apr 2024,Roles & Responsibilities\nDescription:\nYou wi...
4,GOOGLE ASIA PACIFIC PTE. LTD.,None,"Software Engineer III, AI / Machine Learning, ...",South,Full Time,Professional,Information Technology,7000,14000,Monthly,19,28 Mar 2024,"Google Singapore, 70 Pasir Panjang Rd 117371",2,11 Apr 2024,Roles & Responsibilities\nPRODUCT AREA\nWhethe...
5,SAP ASIA PTE. LTD.,None,Associate AI Scientist / AI Scientist Artifi...,South,Permanent,Executive,Information Technology,6000,9000,Monthly,16,28 Mar 2024,"MAPLETREE BUSINESS CITY, 30 PASIR PANJANG ROAD...",None,27 Apr 2024,Roles & Responsibilities\n*SAP will be priorit...
6,PENTAS VISION PTE. LTD.,None,AI Researcher,East,Full Time,Professional,Sciences / Laboratory / R&D,7500,15000,Monthly,9,28 Mar 2024,"THE PLAZA, 7500A BEACH ROAD 199591",3,27 Apr 2024,Roles & Responsibilities\nJob Responsibilities...
7,A*STAR RESEARCH ENTITIES,None,"Scientist / Senior Scientist, AI, ARTC",West,Contract,Professional,Sciences / Laboratory / R&D,5900,11800,Monthly,2,27 Mar 2024,"Cleantech Two, 3 Cleantech Loop, #01/01 637143",5,26 Apr 2024,Roles & Responsibilities\nAbout the role\nThe ...
8,A*STAR RESEARCH ENTITIES,None,"Scientist / Senior Scientist, AI, ARTC",West,Contract,Professional,Sciences / Laboratory / R&D,4750,9500,Monthly,1,27 Mar 2024,"Cleantech Two, 3 Cleantech Loop, #01/01 637143",2,26 Apr 2024,Roles & Responsibilities\nAbout the role\nThe ...
9,RANDSTAD PTE. LIMITED,None,Sales Manager- AI Solutions -Enterprise Clients,Central,Full Time,Manager,Information Technology,8000,10000,Monthly,9,27 Mar 2024,"ONE RAFFLES PLACE, 1 RAFFLES PLACE 048616",8,26 Apr 2024,Roles & Responsibilities\nAbout my client\nI a...
10,ELGO TECHNOLOGIES PTE. LTD.,None,AI Engineering Intern,South,Contract,Executive,Non-Information Technology,1000,1200,Monthly,6,27 Mar 2024,67 Ayer Rajah Crescent 139950,None,26 Apr 2024,Roles & Responsibilities\n\nCompany Summary:\n...
11,TECHNOLOGY SERVICES GROUP PTE. LTD.,None,Chief Technology Officer (CTO) - AI Powered He...,South,Full Time,Senior Management,Information Technology,15000,18000,Monthly,19,27 Mar 2024,"Keppel Bay Tower, 1 Harbourfront Ave 098632",10,26 Apr 2024,Roles & Responsibilities\nAre you a visionary ...
12,NATIONAL UNIVERSITY OF SINGAPORE,None,"Software Engineer, AI Centre for Educational T...",South,Full Time,Executive,Information Technology,6000,9000,Monthly,6,27 Mar 2024,21 LOWER KENT RIDGE ROAD 119077,None,10 Apr 2024,Roles & Responsibilities\nInterested applicant...
13,SNOWFLAKE COMPUTING SINGAPORE PTE. LTD.,Recommended based on your skills & job applica...,Sr. Solutions Architect - AI / ML,Central,Permanent,Professional,Information Technology10 Years Exp,18000,34000,Monthly,20,18 Mar 2024,"SGX CENTRE II, 4 SHENTON WAY 068807",10,17 Apr 2024,Roles & Responsibilities\nSUMMARY\nWe are look...
14,BIOQUEST ADVISORY PTE. LTD.,None,AI & Advanced Analytics Consultant,Islandwide,Contract,Professional,Consulting,6000,9000,Monthly,2,27 Mar 2024,None,5,26 Apr 2024,Roles & Responsibilities\nWe are looking for a...
15,PERSOLKELLY SINGAPORE PTE. LTD.,None,AI Engineer - FSI candidate are welcome,Islandwide,Permanent,Professional,Information Technology,10000,20000,Monthly,22,26 Mar 2024,None,5,25 Apr 2024,Roles & Responsibilities\nJoin a leading congl...
16,JOBTECH PTE. LTD.,None,Senior Backend Developer (AI Data Analytics),West,Permanent,Executive,Information Technology,5000,7000,Monthly,0,25 Mar 2024,"ICON@IBP, 3A INTERNATIONAL BUSINESS PARK 609935",3,24 Apr 2024,Roles & Responsibilities\nAbout JobTech\nJobTe...
17,GOOGLE ASIA PACIFIC PTE. LTD.,None,"Customer Engineer, Applied AI and Generative A...",South,Full Time,Professional,Information Technology,10000,20000,Monthly,20,25 Mar 2024,"Google Singapore, 70 Pasir Panjang Rd 117371",3,08 Apr 2024,Roles & Responsibilities\nPRODUCT AREA\nGoogle...
18,MENYALA SINGAPORE PTE. LTD.,None,AI Engineer,Central,Permanent,Professional,Information Technology,10000,16000,Monthly,27,25 Mar 2024,"UE SQUARE, 83 CLEMENCEAU AVENUE 239920",6,08 Apr 2024,Roles & Responsibilities\nWhat is Menyala?\nMe...
19,AMAZON WEB SERVICES SINGAPORE PRIVATE LIMITED,None,Generative AI Strategist,Central,Permanent,Professional,Information Technology,13000,25000,Monthly,29,25 Mar 2024,"AIA TOWER, 1 ROBINSON ROAD 048542",7,24 Apr 2024,Roles & Responsibilities\nAmazon Web Services ...
20,TALENTSIS PTE. LTD.,None,Solution Architect (Data Analytics / AI / ML),Islandwide,Permanent,Manager,Information Technology,8000,10000,Monthly,2,25 Mar 2024,None,6,24 Apr 2024,Roles & Responsibilities\nJob Responsibilities...
21,PULLEY ASCENT (ASIA) PTE. LTD.,None,Senior AI Engineer,Islandwide,Permanent,Senior Executive,Information Technology,9000,15000,Monthly,7,25 Mar 2024,None,8,24 Apr 2024,Roles & Responsibilities\nKey Responsibilities...
22,PARALLELCHAIN LAB PRIVATE LIMITED,None,"Machine Learning Engineer (Data Science, Artif...",South,Full Time,Professional,Engineering,6500,8500,Monthly,132,24 Mar 2024,67 Ayer Rajah Crescent 139950,2,23 Apr 2024,Roles & Responsibilities\nParallelChain Lab is...
23,LAWNET TECHNOLOGY SERVICES PTE. LTD.,None,Senior AI Solutions Architect,East,Contract,Middle Management,Information Technology,6800,11000,Monthly,12,22 Mar 2024,"THE ADELPHI, 1 COLEMAN STREET 179803",5,21 Apr 2024,Roles & Responsibilities\nWe are seeking an ex...
24,CAREER ZOOM PTE. LTD.,Recommended based on your skills & job applica...,Partner - Ai In Financial Services,Islandwide,Full Time,Senior Management,Consulting12 Years Exp,20000,25000,Monthly,35,05 Mar 2024,None,12,04 Apr 2024,Roles & Responsibilities\nOverview:\nOur clien...
25,OPTIMUM SOLUTIONS (SINGAPORE) PTE LTD,None,Communication Specialist [Tech / AI focus],East,Contract,Executive,Marketing / Public Relations,5600,6600,Monthly,10,22 Mar 2024,"PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...",5,21 Apr 2024,Roles & Responsibilities\nThis is a 12-months ...
26,HPC AI TECHNOLOGY PTE. LTD.,None,Senior AI system engineer,South,Full Time,Senior Executive,Engineering,10000,18000,Monthly,10,22 Mar 2024,"Ascent, 01-08 2 Science Drive 118222",None,21 Apr 2024,Roles & Responsibilities\nResponsibilities:\nD...
27,HPC AI TECHNOLOGY PTE. LTD.,None,AI Engineer,South,Full Time,Fresh/Entry Level,Engineering,7000,10000,Monthly,60,22 Mar 2024,"Ascent, 01-08 2 Science Park Drive 118222",None,21 Apr 2024,Roles & Responsibilities\nKey Responsibilities...
28,SAP ASIA PTE. LTD.,None,Associate AI Scientist / AI Scientist Artifi...,South,Permanent,Executive,Information Technology,6000,9000,Monthly,34,22 Mar 2024,"MAPLETREE BUSINESS CITY, 30 PASIR PANJANG ROAD...",None,21 Apr 2024,Roles & Responsibilities\n*SAP will be priorit...
29,AVENSYS CONSULTING PTE. LTD.,None,Regional Sales Manager: Cyber Security & ERP /...,East,Full Time,Manager,Information Technology,8000,10000,Monthly,6,22 Mar 2024,"VERTEX, 33 UBI AVENUE 3 408868",10,21 Apr 2024,Roles & Responsibilities\nJob Description\nAve...
30,NATIONAL UNIVERSITY OF SINGAPORE,None,AI Engineer / Senior AI Engineer (Innovation) ...,South,Full Time,Professional,Information Technology,4500,7500,Monthly,5,21 Mar 2024,21 LOWER KENT RIDGE ROAD 119077,2,04 Apr 2024,Roles & Responsibilities\nInterested applicant...
31,DELOITTE CONSULTING PTE. LTD.,None,"Senior Manager Strategy, Growth & Innovation...",Central,Contract,Professional,Consulting,10000,20000,Monthly,10,21 Mar 2024,"OUE DOWNTOWN, 6 SHENTON WAY 068809",10,04 Apr 2024,Roles & Responsibilities\nWhat impact will you...
32,NANYANG TECHNOLOGICAL UNIVERSITY,None,Postdoctoral Fellow (The Eric and Wendy Schmid...,West,Contract,Professional,Sciences / Laboratory / R&D,6000,12000,Monthly,2,21 Mar 2024,"NANYANG TECHNOLOGICAL UNIVERSITY, 50 NANYANG A...",1,04 Apr 2024,Roles & Responsibilities\nThe Eric and Wendy S...
33,EXPEDERA R&D PTE. LTD.,None,AI ASIC Engineer IC Design Entry-Level,Islandwide,Full Time,Fresh/Entry Level,Engineering,4000,6000,Monthly,7,20 Mar 2024,None,None,19 Apr 2024,Roles & Responsibilities\nRESPONSIBILITIES INC...
34,GOOGLE ASIA PACIFIC PTE. LTD.,None,"Technical Specialist, AI Infrastructure and Ma...",South,Full Time,Professional,Information Technology,15000,30000,Monthly,18,20 Mar 2024,"Google Singapore, 70 Pasir Panjang Rd 117371",5,03 Apr 2024,Roles & Responsibilities\nPRODUCT AREA\nGoogle...
35,SNOWFLAKE COMPUTING SINGAPORE PTE. LTD.,Recommended based on your skills & job applica...,Solutions Architect - AI / ML,Central,Permanent,Professional,Information Technology10 Years Exp,12000,24000,Monthly,22,18 Mar 2024,"SGX CENTRE II, 4 SHENTON WAY 068807",10,17 Apr 2024,Roles & Responsibilities\nSUMMARY\nWe are look...
36,TEMUS PTE. LTD.,None,Data (& AI) Platform Engineer,South,Permanent,Senior Executive,Information Technology,7500,11500,Monthly,18,20 Mar 2024,"MAPLETREE BUSINESS CITY, 80 PASIR PANJANG ROAD...",4,03 Apr 2024,Roles & Responsibilities\nAbout Us:\nFounded b...
37,CLOUD KINETICS SOLUTIONS PTE. LTD.,None,Solution Architect (AI & Data),Islandwide,Contract,Professional,Information Technology,7000,9000,Monthly,5,20 Mar 2024,None,4,03 Apr 2024,Roles & Responsibilities\nScope of the Opportu...
38,NEUBOT PTE. LTD.,None,Traditional Chinese Medicine (TCM) Specialist ...,South,Full Time,Professional,Healthcare / Pharmaceutical,4000,8000,Monthly,10,19 Mar 2024,None,2,18 Apr 2024,Roles & Responsibilities\n*About Us:*\nNeubot ...
39,SEARCHASIA CONSULTING PTE. LTD.,None,CTO - Generative AI,Central,Full Time,Senior Management,Consulting,15000,20000,Monthly,21,19 Mar 2024,"NGEE ANN CITY, 391A ORCHARD ROAD 238873",6,18 Apr 2024,Roles & Responsibilities\nJob Overview:\nOur c...
40,NATIONAL UNIVERSITY OF SINGAPORE,None,Research Assistant (AI Finance),South,Full Time,Professional,Banking And Finance,3800,4500,Monthly,0,19 Mar 2024,21 LOWER KENT RIDGE ROAD 119077,None,02 Apr 2024,Roles & Responsibilities\nInterested applicant...
41,C-LNG SOLUTIONS PTE. LTD.,None,AI Design Engineer,West,Full Time,Professional,Engineering,6000,7000,Monthly,9,19 Mar 2024,"VISION EXCHANGE, 2 VENTURE DRIVE 608526",None,09 Apr 2024,Roles & Responsibilities\nJob Scope:\nAI Model...
42,TRITON AI PTE. LTD.,None,"Headhunter (Talent Acquisition), AI-Powered Re...",Central,Full Time,Professional,Consulting,6000,9000,Monthly,23,19 Mar 2024,"INTERNATIONAL PLAZA, 10 ANSON ROAD 079903",5,18 Apr 2024,Roles & Responsibilities\nAre you a seasoned h...
43,NATIONAL UNIVERSITY OF SINGAPORE,None,Temporary Accounting & Admin Assistant for AI ...,South,Full Time,Executive,Junior Admin / Secretarial,2000,4000,Monthly,5,19 Mar 2024,21 LOWER KENT RIDGE ROAD 119077,None,02 Apr 2024,Roles & Responsibilities\nInterested applicant...
44,TECHNOLOGY SERVICES GROUP PTE. LTD.,Recommended based on your skills & job applica...,LLM Developer - AI Chat Assistant,South,Full Time,Executive,Non-Information Technology3 Years Exp,10000,14000,Monthly,39,06 Mar 2024,"Keppel Bay Tower, #13-01A 1 Harbourfront Ave 0...",3,05 Apr 2024,Roles & Responsibilities\nTSGS is on a mission...
45,AVANADE ASIA PTE LTD,Recommended based on your skills & job applica...,AI Architect,Central,Full Time,Manager,Consulting5 Years Exp,12000,13000,Monthly,16,17 Mar 2024,"AIA TOWER, 1 ROBINSON ROAD 048542",5,31 Mar 2024,Roles & Responsibilities\nIntroduction:\nShape...

In [60]:
jobs.to_csv("jobs_ai.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)

## Data analytics

In [13]:
scrape_mycareersfuture("data%20analytics")

ROW NO: -1, CARD NO: 0, PAGE NO: 0
ROW NO: 0, CARD NO: 1, PAGE NO: 0
no experience
ROW NO: 1, CARD NO: 2, PAGE NO: 0
no experience
no address
ROW NO: 2, CARD NO: 3, PAGE NO: 0
ROW NO: 3, CARD NO: 4, PAGE NO: 0
no address
ROW NO: 4, CARD NO: 5, PAGE NO: 0
no address
ROW NO: 5, CARD NO: 6, PAGE NO: 0
ROW NO: 6, CARD NO: 7, PAGE NO: 0
no address
ROW NO: 7, CARD NO: 8, PAGE NO: 0
no address
ROW NO: 8, CARD NO: 9, PAGE NO: 0
ROW NO: 9, CARD NO: 10, PAGE NO: 0
ROW NO: 10, CARD NO: 11, PAGE NO: 0
ROW NO: 11, CARD NO: 12, PAGE NO: 0
ROW NO: 12, CARD NO: 13, PAGE NO: 0
ROW NO: 13, CARD NO: 14, PAGE NO: 0
no address
ROW NO: 14, CARD NO: 15, PAGE NO: 0
no address
ROW NO: 15, CARD NO: 16, PAGE NO: 0
ROW NO: 16, CARD NO: 17, PAGE NO: 0
no address
ROW NO: 17, CARD NO: 18, PAGE NO: 0
ROW NO: 18, CARD NO: 19, PAGE NO: 0
ROW NO: 19, CARD NO: 20, PAGE NO: 0
reached card no: 20, error:
...next page
ROW NO: 19, CARD NO: 0, PAGE NO: 1
ROW NO: 20, CARD NO: 1, PAGE NO: 1
no address
ROW NO: 21, CARD NO: 2, PAGE NO: 1
ROW NO: 22, CARD NO: 3, PAGE NO: 1
no address
ROW NO: 23, CARD NO: 4, PAGE NO: 1
ROW NO: 24, CARD NO: 5, PAGE NO: 1
no experience
ROW NO: 25, CARD NO: 6, PAGE NO: 1
no address
ROW NO: 26, CARD NO: 7, PAGE NO: 1
no address
ROW NO: 27, CARD NO: 8, PAGE NO: 1
ROW NO: 28, CARD NO: 9, PAGE NO: 1
ROW NO: 29, CARD NO: 10, PAGE NO: 1
ROW NO: 30, CARD NO: 11, PAGE NO: 1
ROW NO: 31, CARD NO: 12, PAGE NO: 1
ROW NO: 32, CARD NO: 13, PAGE NO: 1
ROW NO: 33, CARD NO: 14, PAGE NO: 1
ROW NO: 34, CARD NO: 15, PAGE NO: 1
no address
ROW NO: 35, CARD NO: 16, PAGE NO: 1
ROW NO: 36, CARD NO: 17, PAGE NO: 1
no address
ROW NO: 37, CARD NO: 18, PAGE NO: 1
no address
ROW NO: 38, CARD NO: 19, PAGE NO: 1
no address
ROW NO: 39, CARD NO: 20, PAGE NO: 1
reached card no: 20, error:
...next page
ROW NO: 39, CARD NO: 0, PAGE NO: 2
ROW NO: 40, CARD NO: 1, PAGE NO: 2
no experience
no address
ROW NO: 41, CARD NO: 2, PAGE NO: 2
ROW NO: 42, CARD NO: 3, PAGE NO: 2
no address
ROW NO: 43, CARD NO: 4, PAGE NO: 2
ROW NO: 44, CARD NO: 5, PAGE NO: 2
ROW NO: 45, CARD NO: 6, PAGE NO: 2
ROW NO: 46, CARD NO: 7, PAGE NO: 2
no address
ROW NO: 47, CARD NO: 8, PAGE NO: 2
ROW NO: 48, CARD NO: 9, PAGE NO: 2
ROW NO: 49, CARD NO: 10, PAGE NO: 2
ROW NO: 50, CARD NO: 11, PAGE NO: 2
ROW NO: 51, CARD NO: 12, PAGE NO: 2
ROW NO: 52, CARD NO: 13, PAGE NO: 2
ROW NO: 53, CARD NO: 14, PAGE NO: 2
no address
ROW NO: 54, CARD NO: 15, PAGE NO: 2
ROW NO: 55, CARD NO: 16, PAGE NO: 2
no address
ROW NO: 56, CARD NO: 17, PAGE NO: 2
ROW NO: 57, CARD NO: 18, PAGE NO: 2
ROW NO: 58, CARD NO: 19, PAGE NO: 2
ROW NO: 59, CARD NO: 20, PAGE NO: 2
reached card no: 20, error:
...next page
ROW NO: 59, CARD NO: 0, PAGE NO: 3
reached card no: 0, error:
...next page
no more jobs to scrape

In [14]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,FORTE EMPLOYMENT SERVICES PTE. LTD.,None,Senior Finance Executive / Share Service (Data...,Central,Contract,Manager,Accounting / Auditing / Taxation,3000,5000,Monthly,0,31 Mar 2024,"CT HUB, 2 KALLANG AVENUE 339407",2,30 Apr 2024,Roles & Responsibilities\nLocation - Irrawaddy...
1,GMP RECRUITMENT SERVICES (S) PTE LTD,None,Junior Data Scientist,Central,Contract,Executive,Junior Engineering,3500,7000,Monthly,7,30 Mar 2024,"ONE FINLAYSON GREEN, 1 FINLAYSON GREEN 049246",None,29 Apr 2024,Roles & Responsibilities\nJunior Data Scienti...
2,CORNERSTONE GLOBAL PARTNERS PTE. LTD.,None,[Healthy Dining Programme] Data Analytic| Up t...,Islandwide,Contract,Fresh/Entry Level,Education And Training,2500,3000,Monthly,3,29 Mar 2024,None,None,05 Apr 2024,Roles & Responsibilities\nWorking Location: Ce...
3,BIOLOGIC TECHNIK PRIVATE LIMITED,None,Data Analyst Intern,South,Internship/Attachment,Fresh/Entry Level,Healthcare / Pharmaceutical,1000,1200,Monthly,240,29 Mar 2024,81 AYER RAJAH CRESCENT 139967,2,28 Apr 2024,Roles & Responsibilities\nWe are seeking talen...
4,A-IT SOFTWARE SERVICES PTE LTD,None,Fraud Risk Data analyst (Bank) (JT),Islandwide,Contract,Professional,Banking And Finance,4000,5500,Monthly,11,29 Mar 2024,None,1,28 Apr 2024,Roles & Responsibilities\n1. Job Overview\nWe ...
5,A-IT SOFTWARE SERVICES PTE LTD,None,Data Analyst (Bank) (JT),Islandwide,Contract,Professional,Banking And Finance,4000,5500,Monthly,15,29 Mar 2024,None,1,28 Apr 2024,Roles & Responsibilities\nJob Description\n1. ...
6,YUSEN LOGISTICS (SINGAPORE) PTE. LTD.,None,Regional Data Analyst & CRM Senior Executive t...,East,Permanent,Senior Executive,Information Technology,4400,6000,Monthly,5,28 Mar 2024,"YAS LOGISTICS CENTRE, 2 CHANGI SOUTH AVENUE 2 ...",2,27 Apr 2024,Roles & Responsibilities\nPosition Overview\nT...
7,SCIENTEC CONSULTING PTE. LTD.,None,Data Engineer | Oracle | AWS,Islandwide,Permanent,Executive,Information Technology,5000,7200,Monthly,1,28 Mar 2024,None,3,27 Apr 2024,Roles & Responsibilities\nData Engineer | Orac...
8,PERSOLKELLY SINGAPORE PTE. LTD.,None,Data Engineer,Islandwide,Contract,Professional,Information Technology,6500,9750,Monthly,7,28 Mar 2024,None,5,11 Apr 2024,Roles & Responsibilities\nAbout the Client\nRe...
9,ACCENTURE PTE LTD,None,Data and Analytics Architect (Senior Manager),East,Permanent,Middle Management,Information Technology,17000,20000,Monthly,20,28 Mar 2024,"RAFFLES CITY TOWER, 250 NORTH BRIDGE ROAD 179101",8,27 Apr 2024,Roles & Responsibilities\nAbout Accenture:\nAc...
10,INTEL TECHNOLOGY ASIA PTE LTD,None,HVM Product Data Planner (PDP),Central,Permanent,Manager,Logistics / Supply Chain,6500,13000,Monthly,10,28 Mar 2024,"Aperia Tower 2, 10 Kallang Ave. 339510",5,27 Apr 2024,Roles & Responsibilities\nOwns planning of a m...
11,NANYANG TECHNOLOGICAL UNIVERSITY,None,"Senior Engineer, Data Services [R00015045]",West,Contract,Manager,Information Technology,3700,6800,Monthly,4,27 Mar 2024,"NANYANG TECHNOLOGICAL UNIVERSITY, 50 NANYANG A...",6,26 Apr 2024,Roles & Responsibilities\nAct as a team member...
12,ST ENGINEERING IHQ PTE. LTD.,PETROS-CONSULTING PTE. LTD.,Solution Architect (Data Analytics / Artificia...,North,Permanent,Professional,Information Technology,8000,10500,Monthly,13,27 Mar 2024,"ST ENGINEERING HUB, 1 ANG MO KIO ELECTRONICS P...",6,26 Apr 2024,Roles & Responsibilities\nOnly Singaporeans ne...
13,OPTIMUM SOLUTIONS (SINGAPORE) PTE LTD,None,Marketing Analytics | B2C Social Media | SQL,East,Contract,Professional,Marketing / Public Relations,4500,7300,Monthly,37,27 Mar 2024,"PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...",3,26 Apr 2024,Roles & Responsibilities\nRole Title: Marketin...
14,SINGAPORE HEALTH SERVICES PTE LTD,None,"Principal Analyst, Group Finance Analytics",South,Permanent,Manager,Others,6000,8500,Monthly,35,27 Mar 2024,None,5,26 Apr 2024,Roles & Responsibilities\nYou will provide tec...
15,SHIMANO (SINGAPORE) PRIVATE LIMITED,None,Data Analyst,West,Full Time,Executive,Junior Information Technology,3200,5000,Monthly,69,27 Mar 2024,None,1,26 Apr 2024,Roles & Responsibilities\nJob Responsibilities...
16,HAFNIA POOLS PTE. LTD.,None,Data and Analytics Software Engineer,South,Permanent,Manager,Information Technology,6000,12000,Monthly,24,27 Mar 2024,"MAPLETREE BUSINESS CITY, 10 PASIR PANJANG ROAD...",5,26 Apr 2024,Roles & Responsibilities\nBe part of our young...
17,MTC CONSULTING PTE. LTD.,None,Data Architect (Azure) - 081,Islandwide,Permanent,Professional,Consulting,7000,15000,Monthly,6,27 Mar 2024,None,12,26 Apr 2024,Roles & Responsibilities\nSalary: Commensurate...
18,LINKEDCORP HR CONSULTANCY PTE. LTD.,None,Business Intelligence Manager [Game Data Analy...,North,Permanent,Manager,Consulting,8000,10000,Monthly,21,26 Mar 2024,"NORTH LINK BUILDING, 10 ADMIRALTY STREET 757695",4,25 Apr 2024,Roles & Responsibilities\nJob Descriptions:\nC...
19,GRAVITAS RECRUITMENT GROUP (SG) PTE. LTD.,None,Junior AML Data Analyst,Central,Full Time,Executive,Junior Information Technology,3000,4000,Monthly,27,26 Mar 2024,"REPUBLIC PLAZA, 9 RAFFLES PLACE 048619",1,16 Apr 2024,"Roles & Responsibilities\nMy client, a leading..."
20,THOMSON MEDICAL PTE. LTD.,None,"Head, Data",Central,Full Time,Manager,Healthcare / Pharmaceutical,9000,11000,Monthly,48,26 Mar 2024,"THOMSON MEDICAL CENTRE, 339 THOMSON ROAD 307677",3,25 Apr 2024,"Roles & Responsibilities\nThe Head, Data will ..."
21,HELIUS TECHNOLOGIES PTE. LTD.,None,Lead Data Analyst,Islandwide,Contract,Manager,Information Technology,7000,8000,Monthly,23,26 Mar 2024,None,6,09 Apr 2024,Roles & Responsibilities\nLead and manage data...
22,AUTO & GENERAL (SEA) SERVICES PTE. LIMITED,None,BI Data Engineer,Central,Permanent,Professional,Information Technology,7000,9200,Monthly,28,26 Mar 2024,"SINGAPORE SHOPPING CENTRE, 190 CLEMENCEAU AVEN...",5,25 Apr 2024,Roles & Responsibilities\nWhat we are looking ...
23,JJ CONSULTING SERVICES,None,"Associate Director, Operations (Data Centre), ...",Islandwide,Permanent,Middle Management,Building And Construction,8000,12000,Monthly,21,26 Mar 2024,None,10,09 Apr 2024,Roles & Responsibilities\nOur Client is an est...
24,BEST LOGISTICS TECHNOLOGY (SINGAPORE) PTE. LTD.,None,Operation Data Analytics Officer,South,Permanent,Senior Executive,Logistics / Supply Chain,2700,4500,Monthly,4,26 Mar 2024,"Logishub@Clementi, 2 Clementi Loop 129809",2,25 Apr 2024,Roles & Responsibilities\nDescription:\nThe Qu...
25,THE MITRE CORPORATION,None,Aviation Data Scientist / Software Engineer,East,Permanent,Fresh/Entry Level,Engineering,4800,8500,Monthly,130,25 Mar 2024,"ULTRO BUILDING, 1 CHANGI BUSINESS PARK AVENUE ...",None,24 Apr 2024,Roles & Responsibilities\nMITRE ASIA PACIFIC S...
26,UNITED OVERSEAS BANK LIMITED,None,"Assistant VP, Data Engineer",Islandwide,Permanent,Manager,Information Technology,6000,12000,Monthly,12,25 Mar 2024,None,6,08 Apr 2024,"Roles & Responsibilities\nThe Data Engineer, M..."
27,GOLDTECH RESOURCES PTE LTD,None,Data Engineer,Islandwide,Contract,Senior Executive,Information Technology,6000,9000,Monthly,36,25 Mar 2024,None,5,24 Apr 2024,Roles & Responsibilities\nJob Description:\nCo...
28,PRUDENTIAL ASSURANCE COMPANY SINGAPORE (PTE) L...,None,Health Analytics Manager,Central,Permanent,Manager,Banking And Finance,9000,12000,Monthly,30,25 Mar 2024,"MARINA ONE, 7 STRAITS VIEW 018936",8,24 Apr 2024,Roles & Responsibilities\nPrudentials purpose...
29,BASIL TECHNOLOGIES PTE. LTD.,None,Senior Data Engineer / Level 3 / Level 4,East,Full Time,Senior Management,Information Technology,8000,10000,Monthly,5,25 Mar 2024,"PENINSULA PLAZA, 111 NORTH BRIDGE ROAD 179098",3,08 Apr 2024,Roles & Responsibilities\nResponsibilities:\n...
30,GMP TECHNOLOGIES (S) PTE LTD,None,Data Science Engineer (Python | ML),Central,Permanent,Executive,Junior Information Technology,4000,4800,Monthly,25,25 Mar 2024,"ONE FINLAYSON GREEN, 1 FINLAYSON GREEN 049246",2,24 Apr 2024,Roles & Responsibilities\nResponsibilities:\nG...
31,GMP TECHNOLOGIES (S) PTE LTD,None,Data Analyst / Scientist (Healthcare),Central,Permanent,Executive,Information Technology,4000,4300,Monthly,20,25 Mar 2024,"ONE FINLAYSON GREEN, 1 FINLAYSON GREEN 049246",2,24 Apr 2024,Roles & Responsibilities\nResponsibilities:\nR...
32,MIGHTY BEAR GAMES PTE. LTD.,None,Data Engineer,South,Full Time,Professional,Engineering,6000,9000,Monthly,59,25 Mar 2024,75 AYER RAJAH CRESCENT 139953,3,24 Apr 2024,Roles & Responsibilities\nWe are looking for a...
33,JOBTECH PTE. LTD.,None,Senior Backend Developer (AI Data Analytics),West,Permanent,Executive,Information Technology,5000,7000,Monthly,0,25 Mar 2024,"ICON@IBP, 3A INTERNATIONAL BUSINESS PARK 609935",3,24 Apr 2024,Roles & Responsibilities\nAbout JobTech\nJobTe...
34,LUXOFT INFORMATION TECHNOLOGY (SINGAPORE) PTE....,None,Academy Data Engineer (Fresh Grad are Welcome),South,Permanent,Executive,Junior Banking And Finance,3000,4500,Monthly,38,25 Mar 2024,1 DEPOT CLOSE 109841,1,08 Apr 2024,Roles & Responsibilities\nProject Description:...
35,AGODA COMPANY PTE. LTD.,None,Senior Data Analyst,Islandwide,Full Time,Senior Executive,Information Technology,8000,10000,Monthly,136,25 Mar 2024,None,4,08 Apr 2024,Roles & Responsibilities\nResponsibilities:\nY...
36,ELITEZ & ASSOCIATES PTE. LTD.,None,Senior Data Analytics Executive,Central,Permanent,Senior Executive,Healthcare / Pharmaceutical,3500,4500,Monthly,7,25 Mar 2024,"CT HUB, 2 KALLANG AVENUE 339407",3,24 Apr 2024,Roles & Responsibilities\nJob Summary:\nIndust...
37,PERSOLKELLY SINGAPORE PTE. LTD.,None,Data Architect,Islandwide,Contract,Professional,Information Technology,9000,13500,Monthly,4,25 Mar 2024,None,10,24 Apr 2024,Roles & Responsibilities\nAbout the Client\nOu...
38,TALENTSIS PTE. LTD.,None,Solution Architect (Data Analytics / AI / ML),Islandwide,Permanent,Manager,Information Technology,8000,10000,Monthly,2,25 Mar 2024,None,6,24 Apr 2024,Roles & Responsibilities\nJob Responsibilities...
39,UNITED OVERSEAS BANK LIMITED,None,"Assistant VP, Data Engineer",Islandwide,Permanent,Professional,Banking And Finance,8000,11500,Monthly,20,25 Mar 2024,None,6,24 Apr 2024,Roles & Responsibilities\nJob Responsibilities...
40,ILLUMINATING ASIA SG PTE. LTD.,None,"Lead Project Engineer (IOT, Big Data Analytics)",East,Contract,Manager,Information Technology,4000,6000,Monthly,3,23 Mar 2024,"GEYLANG EAST INDUSTRIAL ESTATE, 1014 GEYLANG E...",5,22 Apr 2024,Roles & Responsibilities\nWe are currently see...
41,DNDTS PTE. LTD.,None,Data Analyst,Islandwide,Full Time,Executive,Junior Information Technology,3500,5000,Monthly,121,23 Mar 2024,None,None,22 Apr 2024,Roles & Responsibilities\nAre you driven by th...
42,SCIENTEC CONSULTING PTE. LTD.,None,Data Engineering (Oracle) - SPVL,South,Permanent,Executive,Information Technology,5500,7000,Monthly,7,22 Mar 2024,"HARBOURFRONT CENTRE, 1 MARITIME SQUARE 099253",3,21 Apr 2024,Roles & Responsibilities\nWe are looking for D...
43,CORNERSTONE GLOBAL PARTNERS PTE. LTD.,None,"[Gov] Data Analytic| Up to $3,700| Central",Islandwide,Contract,Executive,Information Technology,2500,3500,Monthly,41,22 Mar 2024,None,1,05 Apr 2024,Roles & Responsibilities\nWorking Location: Ce...
44,RECRUIT EXPRESS PTE LTD,None,Data Analyst #IJF,Central,Contract,Executive,Information Technology,5000,8000,Monthly,34,22 Mar 2024,"NGEE ANN CITY, 391A ORCHARD ROAD 238873",3,05 Apr 2024,Roles & Responsibilities\n\nResponsibilities:\...
45,LYNEER CORP (SINGAPORE) PTE. LTD.,None,Data Engineer / Level 2,Central,Contract,Professional,Information Technology,5000,7000,Monthly,9,22 Mar 2024,"SHENTON HOUSE, 3 SHENTON WAY 068805",3,05 Apr 2024,Roles & Responsibilities\nResponsibilities:\nD...
46,ADECCO PERSONNEL PTE LTD,None,Senior Data Engineer,Central,Contract,Senior Executive,Information Technology,6000,12000,Monthly,8,22 Mar 2024,"SHAW CENTRE, 1 SCOTTS ROAD 228208",8,05 Apr 2024,Roles & Responsibilities\nThe Opportunity\nAde...
47,GRABTAXI HOLDINGS PTE. LTD.,None,Senior Data Scientist,South,Permanent,Professional,Information Technology,8500,12750,Monthly,25,22 Mar 2024,None,3,21 Apr 2024,Roles & Responsibilities\nLife at Grab\nAt Gra...
48,IDC TECHNOLOGIES (SINGAPORE) PTE. LTD.,None,Data Engineer,Central,Contract,Professional,Information Technology,5000,7000,Monthly,13,22 Mar 2024,"GB BUILDING, 143 CECIL STREET 069542",3,05 Apr 2024,Roles & Responsibilities\nResponsibilities:\nD...
49,CENTRAL PROVIDENT FUND BOARD,None,Data Analytics Audit Specialist,Central,Contract,Professional,Accounting / Auditing / Taxation,4600,7200,Monthly,15,22 Mar 2024,"TOWER B NOVENA SQUARE, 238B THOMSON ROAD 307685",4,21 Apr 2024,Roles & Responsibilities\nAs a member of Team ...
50,GOOGLE ASIA PACIFIC PTE. LTD.,None,"Technical Lead, Data Analytics, Google Cloud -...",South,Full Time,Professional,Information Technology,15000,30000,Monthly,53,22 Mar 2024,"Google Singapore, 70 Pasir Panjang Road 117371",6,05 Apr 2024,Roles & Responsibilities\nPRODUCT AREA\nGoogle...
51,RECRUIT EXPRESS PTE LTD,None,Data Analytics and Operations Manager (Regiona...,Central,Contract,Manager,Banking And Finance,5000,6000,Monthly,13,22 Mar 2024,"NGEE ANN CITY, 391A ORCHARD ROAD 238873",5,21 Apr 2024,Roles & Responsibilities\nSupport global data ...
52,MORGAN MCKINLEY PTE. LTD.,None,Head of Data,Central,Permanent,Middle Management,Advertising / Media,16000,22000,Monthly,46,22 Mar 2024,"ONE RAFFLES PLACE, 1 RAFFLES PLACE 048616",8,05 Apr 2024,Roles & Responsibilities\nThe Head of Data ser...
53,STANDARD CHARTERED BANK (SINGAPORE) LIMITED,None,"Associate Director, Data, Sustainability",Central,Permanent,Manager,Banking And Finance,9000,14500,Monthly,75,22 Mar 2024,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...",5,05 Apr 2024,Roles & Responsibilities\nKey responsibilities...
54,MTC CONSULTING PTE. LTD.,None,Data Architect - 081,Islandwide,Permanent,Professional,Consulting,7000,15000,Monthly,4,22 Mar 2024,None,12,21 Apr 2024,Roles & Responsibilities\nSalary: Commensurate...
55,MEINHARDT (SINGAPORE) PTE LTD,None,Lead Data Scientist,South,Permanent,Manager,Building And Construction,7000,8500,Monthly,14,21 Mar 2024,"CONNECTION ONE, 168 JALAN BUKIT MERAH 150168",5,20 Apr 2024,Roles & Responsibilities\nThe ideal candidate ...
56,SINGAPORE NATIONAL EYE CENTRE PTE LTD,None,"Senior / Executive, Data Analytics (Quality Se...",South,Permanent,Senior Executive,Information Technology,3500,5000,Monthly,22,21 Mar 2024,None,2,20 Apr 2024,Roles & Responsibilities\nKey Responsibilities...
57,NATIONAL UNIVERSITY HEALTH SYSTEM PTE. LTD.,None,"Senior Executive / Assistant Manager, Data Ana...",South,Permanent,Executive,Healthcare / Pharmaceutical,3200,5000,Monthly,40,21 Mar 2024,1E KENT RIDGE ROAD 119228,3,20 Apr 2024,Roles & Responsibilities\nSenior Executive/Ass...
58,DELOITTE CONSULTING PTE. LTD.,None,"Senior Manager Strategy, Growth & Innovation...",Central,Contract,Professional,Consulting,10000,20000,Monthly,10,21 Mar 2024,"OUE DOWNTOWN, 6 SHENTON WAY 068809",10,04 Apr 2024,Roles & Responsibilities\nWhat impact will you...
59,SALT TALENT SEARCH PTE. LTD.,None,Data Analyst,Central,Contract,Executive,Information Technology,5000,5700,Monthly,153,21 Mar 2024,"61 ROBINSON, 61 ROBINSON ROAD 068893",2,20 Apr 2024,Roles & Responsibilities\nSalt is looking for ...

In [15]:
jobs.to_csv("jobs_data-analytics.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)

## Data science

In [ ]:
scrape_mycareersfuture("data%20science")

ROW NO: -1, CARD NO: 0, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 0, CARD NO: 1, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

ROW NO: 1, CARD NO: 2, PAGE NO: 0
reached card no: 2, error:
...next page
no more jobs to scrape

In [ ]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,HYUNDAI MOTOR GROUP INNOVATION CENTER IN SINGA...,Recommended based on your skills & job applica...,Artificial Intelligence (AI) Engineer,West,Permanent,Professional,Sciences / Laboratory / R&D2 Years Exp,6000,12000,Monthly,112,15 Mar 2024,None,2,14 Apr 2024,Roles & Responsibilities\nOverview\nThis posit...
1,MERQURI PTE. LTD.,Recommended based on your skills & job applica...,Head of Data Science,Central,Permanent,Manager,Information Technology8 Years Exp,13000,17000,Monthly,66,05 Mar 2024,78 SHENTON WAY 079120,8,04 Apr 2024,Roles & Responsibilities\nOverview\nAs the Hea...

In [ ]:
jobs.to_csv("jobs_data-science.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)

## Machine learning

In [ ]:
scrape_mycareersfuture("machine%20learning")

ROW NO: -1, CARD NO: 0, PAGE NO: 0

C:\Users\Michelle\AppData\Local\Temp\ipykernel_22748\3053727771.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs.loc[row_no] = [

no address
ROW NO: 0, CARD NO: 1, PAGE NO: 0
ROW NO: 1, CARD NO: 2, PAGE NO: 0
reached card no: 2, error:
...next page
no more jobs to scrape

In [ ]:
jobs

,company_name,recruiter_name,job_title,location,employment_type,job_level,job_function,salary_lower,salary_upper,salary_period,num_applications,posted_date,address,experience,closing_date,job_description
0,DYSON OPERATIONS PTE. LTD.,Recommended based on your skills & job applica...,Senior Machine Learning Research Manager,Islandwide,Permanent,Manager,Information Technology8 Years Exp,17000,23000,Monthly,23,06 Mar 2024,None,8,05 Apr 2024,Roles & Responsibilities\nAbout us\nThe Machin...
1,DKATALIS PRIVATE LIMITED,Recommended based on your skills & job applica...,Machine Learning Engineer,Central,Full Time,Professional,Banking And Finance3 Years Exp,8000,16000,Monthly,27,18 Mar 2024,"ABI PLAZA, 11 KEPPEL ROAD 089057",3,17 Apr 2024,Roles & Responsibilities\nAbout the Role\n\nAs...

In [ ]:
jobs.to_csv("jobs_ml.csv", encoding='utf-8', index=False)
jobs = pd.DataFrame(columns=columns)