In [36]:
# this script is for combining the entries from linkedin jobs files - dataAnalyst_scraped.csv, dataScientist_scraped.csv, machineLearningEngineer_scraped.csv, softwareDeveloper_scraped.csv
# import packages 
import pandas as pd
import numpy as np

In [37]:
# import files
dataAnalyst = pd.read_csv('dataAnalyst_scraped.csv')
dataScientist = pd.read_csv('dataScientist_scraped.csv')
machineLearningEngineer = pd.read_csv('machineLearningEngineer_scraped.csv')
softwareDeveloper = pd.read_csv('softwareDeveloper_scraped.csv')

In [38]:
# check files 
dataAnalyst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       351 non-null    int64
 1   Job_ID           351 non-null    int64
 2   Job_txt          320 non-null    object
 3   company          249 non-null    object
 4   job-title        320 non-null    object
 5   level            320 non-null    object
 6   location         320 non-null    object
 7   posted-time-ago  317 non-null    object
 8   nb_candidats     142 non-null    float64
 9   scraping_date    351 non-null    object
 10  posted_date      317 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 30.3+ KB

In [39]:
dataScientist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       375 non-null    int64
 1   Job_ID           375 non-null    int64
 2   Job_txt          258 non-null    object
 3   company          231 non-null    object
 4   job-title        258 non-null    object
 5   level            258 non-null    object
 6   location         258 non-null    object
 7   posted-time-ago  249 non-null    object
 8   nb_candidats     133 non-null    float64
 9   scraping_date    375 non-null    object
 10  posted_date      249 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 32.4+ KB

In [40]:
machineLearningEngineer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       400 non-null    int64
 1   Job_ID           400 non-null    int64
 2   Job_txt          318 non-null    object
 3   company          296 non-null    object
 4   job-title        318 non-null    object
 5   level            318 non-null    object
 6   location         318 non-null    object
 7   posted-time-ago  306 non-null    object
 8   nb_candidats     172 non-null    float64
 9   scraping_date    400 non-null    object
 10  posted_date      306 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 34.5+ KB

In [41]:
softwareDeveloper.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25 non-null     int64
 1   Job_ID           25 non-null     int64
 2   Job_txt          20 non-null     object
 3   company          20 non-null     object
 4   job-title        20 non-null     object
 5   level            20 non-null     object
 6   location         20 non-null     object
 7   posted-time-ago  20 non-null     object
 8   nb_candidats     8 non-null      float64
 9   scraping_date    25 non-null     object
 10  posted_date      20 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 2.3+ KB

In [42]:
# drop unused columns - posted-time-ago, nb_candidats, scraping_date, posted_date
dataAnalyst = dataAnalyst.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
dataScientist = dataScientist.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
machineLearningEngineer = machineLearningEngineer.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
softwareDeveloper = softwareDeveloper.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)

# drop na values 
dataAnalyst = dataAnalyst.dropna()
dataScientist = dataScientist.dropna()
machineLearningEngineer = machineLearningEngineer.dropna()
softwareDeveloper = softwareDeveloper.dropna()

In [43]:
# perform concatenation
linkedin_jobs = pd.DataFrame(columns=dataAnalyst.columns)

linkedin_jobs = pd.concat([linkedin_jobs, dataAnalyst], ignore_index=True)
linkedin_jobs = pd.concat([linkedin_jobs, dataScientist], ignore_index=True)
linkedin_jobs = pd.concat([linkedin_jobs, machineLearningEngineer], ignore_index=True)
linkedin_jobs = pd.concat([linkedin_jobs, softwareDeveloper], ignore_index=True)

# drop duplicated columns 
linkedin_jobs = linkedin_jobs.drop_duplicates()

In [44]:
linkedin_jobs.head()

,Job_txt,company,job-title,level,location
0,Data Compliance and Access Operations Senior A...,ByteDance,Data Compliance and Access Operations Senior A...,Mid-Senior level,"Singapore, Singapore"
1,"Intelligence Analyst, Rights Protection (South...",Sportradar,"Intelligence Analyst, Rights Protection (South...",Associate,"Singapore, Singapore"
2,"Senior Analyst, Data Science, Health Services ...",SingHealth,"Senior Analyst, Data Science, Health Services ...",Mid-Senior level,"Singapore, Singapore"
3,"Data Analyst - Marketing Analytics, Regional B...",Shopee,"Data Analyst - Marketing Analytics, Regional B...",Entry level,"Singapore, Singapore"
4,"Lead BI Analyst Dyson Singapore, Singapore 1 m...",Dyson,Lead BI Analyst,Mid-Senior level,"Singapore, Singapore"

In [45]:
linkedin_jobs.to_csv('linkedin_jobs.csv')

In [53]:
# create function for reproducibility 
def combine_linkedin_jobs(dataAnalyst_path='dataanalyst_scraped.csv', dataScientist_path='datascientist_scraped.csv', machineLearningEngineer_path='machinelearningengineer_scraped.csv', softwareengineer_path='softwareengineer_scraped.csv', AIdeveloper_path='AIdeveloper_scraped.csv', dataEngineer_path='dataengineer_scraped.csv'):
    dataAnalyst = pd.read_csv(dataAnalyst_path)
    dataScientist = pd.read_csv(dataScientist_path)
    machineLearningEngineer = pd.read_csv(machineLearningEngineer_path)
    softwareDeveloper = pd.read_csv(softwareengineer_path)
    AIdeveloper = pd.read_csv(AIdeveloper_path)
    dataEngineer = pd.read_csv(dataEngineer_path)

    # drop unused columns - posted-time-ago, nb_candidats, scraping_date, posted_date
    dataAnalyst = dataAnalyst.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
    dataScientist = dataScientist.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
    machineLearningEngineer = machineLearningEngineer.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
    softwareDeveloper = softwareDeveloper.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
    AIdeveloper = AIdeveloper.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
    dataEngineer = dataEngineer.drop(['Unnamed: 0', 'Job_ID', 'posted-time-ago', 'nb_candidats', 'scraping_date', 'posted_date'], axis=1)
    
    # drop na values 
    dataAnalyst = dataAnalyst.dropna()
    dataScientist = dataScientist.dropna()
    machineLearningEngineer = machineLearningEngineer.dropna()
    softwareDeveloper = softwareDeveloper.dropna()
    AIdeveloper = AIdeveloper.dropna()
    dataEngineer = dataEngineer.dropna()

    # perform concatenation
    linkedin_jobs = pd.DataFrame(columns=dataAnalyst.columns)
    
    linkedin_jobs = pd.concat([linkedin_jobs, dataAnalyst], ignore_index=True)
    linkedin_jobs = pd.concat([linkedin_jobs, dataScientist], ignore_index=True)
    linkedin_jobs = pd.concat([linkedin_jobs, machineLearningEngineer], ignore_index=True)
    linkedin_jobs = pd.concat([linkedin_jobs, softwareDeveloper], ignore_index=True)
    linkedin_jobs = pd.concat([linkedin_jobs, AIdeveloper], ignore_index=True)
    linkedin_jobs = pd.concat([linkedin_jobs, dataEngineer], ignore_index=True)

    # drop duplicated columns 
    linkedin_jobs = linkedin_jobs.drop_duplicates()

    # export to csv
    linkedin_jobs.to_json("linkedin_jobs.json")
    linkedin_jobs.to_csv('linkedin_jobs.csv')
    return linkedin_jobs

In [55]:
combine_linkedin_jobs().info()

<class 'pandas.core.frame.DataFrame'>
Index: 980 entries, 0 to 1255
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   url        980 non-null    object
 1   Job_txt    980 non-null    object
 2   company    980 non-null    object
 3   job-title  980 non-null    object
 4   level      980 non-null    object
 5   location   980 non-null    object
dtypes: object(6)
memory usage: 85.9+ KB