In [1]:
# Install if you have never used these: unblock the lines below to install if needed

#!pip install webdriver-manager
#!pip3 install lxml
#!pip3 install selenium
#!pip3 install webdriver_manager
#!pip install --upgrade pip
#!pip install -U selenium

Collecting webdriver-manager
  Downloading webdriver_manager-4.0.1-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from webdriver-manager) (2.31.0)
Collecting python-dotenv (from webdriver-manager)
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Requirement already satisfied: packaging in c:\users\wen jett\appdata\roaming\python\python39\site-packages (from webdriver-manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver-manager) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver-manager) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver-manager) (2023.7.22)
Downloading webdriver_manager-4.0.1-py2.py3-none-any.whl (27 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv, webdriver-manager
Successfully installed python-dotenv-1.0.1 webdriver-manager-4.0.1
Requirement already satisfied: lxml in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (5.1.0)
Requirement already satisfied: selenium in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.6)
Requirement already satisfied: trio~=0.17 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup in c:\users\wen jett\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver_manager in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (4.0.1)
Requirement already satisfied: requests in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from webdriver_manager) (1.0.1)
Requirement already satisfied: packaging in c:\users\wen jett\appdata\roaming\python\python39\site-packages (from webdriver_manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver_manager) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver_manager) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from requests->webdriver_manager) (2023.7.22)
Requirement already satisfied: pip in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (24.0)
Requirement already satisfied: selenium in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (4.17.2)
Collecting selenium
  Downloading selenium-4.18.1-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.6)
Requirement already satisfied: trio~=0.17 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup in c:\users\wen jett\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\wen jett\appdata\local\programs\python\python39\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Downloading selenium-4.18.1-py3-none-any.whl (10.0 MB)
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   ------ --------------------------------- 1.5/10.0 MB 32.7 MB/s eta 0:00:01
   -------------- ------------------------- 3.7/10.0 MB 47.3 MB/s eta 0:00:01
   ----------------------------- ---------- 7.4/10.0 MB 52.1 MB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 58.1 MB/s eta 0:00:01
   ---------------------------------------- 10.0/10.0 MB 49.2 MB/s eta 0:00:00
Installing collected packages: selenium
  Attempting uninstall: selenium
    Found existing installation: selenium 4.17.2
    Uninstalling selenium-4.17.2:
      Successfully uninstalled selenium-4.17.2
Successfully installed selenium-4.18.1

In [2]:
# --------- import necessary modules -------

# For webscraping
from bs4 import BeautifulSoup

# Parsing and creating xml data
from lxml import etree as et

# Store data as a csv file written out
from csv import writer

# In general to use with timing our function calls to Indeed
import time

# Assist with creating incremental timing for our scraping to seem more human
from time import sleep

# Dataframe stuff
import pandas as pd

# Random integer for more realistic timing for clicks, buttons and searches during scraping
from random import randint

# Multi Threading
import threading

# Threading:
from concurrent.futures import ThreadPoolExecutor, wait

In [3]:
import selenium

# Check version I am running
selenium.__version__

'4.18.1'

In [4]:
# Selenium 4:

from selenium import webdriver

# Starting/Stopping Driver: can specify ports or location but not remote access
from selenium.webdriver.chrome.service import Service as ChromeService

# Manages Binaries needed for WebDriver without installing anything directly
from webdriver_manager.chrome import ChromeDriverManager

In [6]:
# Allows searchs similar to beautiful soup: find_all
from selenium.webdriver.common.by import By

# Try to establish wait times for the page to load
from selenium.webdriver.support.ui import WebDriverWait

# Wait for specific condition based on defined task: web elements, boolean are examples
from selenium.webdriver.support import expected_conditions as EC

# Used for keyboard movements, up/down, left/right,delete, etc
from selenium.webdriver.common.keys import Keys

# Locate elements on page and throw error if they do not exist
from selenium.common.exceptions import NoSuchElementException

In [118]:
import csv
from time import sleep
from random import randint
from datetime import datetime

job_ = ['business+analyst','data+analyst','software+engineer']
loc = 'Singapore'

paginaton_url_ = 'https://sg.indeed.com/jobs?q={}&l={}&sort=date&start={}'

driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
p_ = []
salary_list_ = []
company_list_ = []
location_list_ = []
job_description_list_ = []
posted_date_list_ = []

# Loop through each job and location combination
for job in job_:
    for i in range(0, 7):  # Scrape 7 pages for each job for latest job postings
        driver.get(paginaton_url_.format(job, loc, i * 10))
        sleep(randint(2, 5))

        # Scroll through the page and obtain job listings one by one
        job_page = driver.find_element(By.ID, "mosaic-jobResults")
        jobs = job_page.find_elements(By.CLASS_NAME, "job_seen_beacon")

        for idx, jj in enumerate(jobs):
                    try:
                        # Scroll to the current job listing
                        driver.execute_script("arguments[0].scrollIntoView(true);", jj)
                        sleep(1)

                        # Click on the job listing
                        jj.click()
                        sleep(2)  # Add a short pause after clicking

                    except:
                        close_button = driver.find_element(By.CSS_SELECTOR, "button[aria-label='close']")
                        close_button.click()
                        sleep(1)  # Add a short pause after closing the pop-up

                    # job title
                    try:
                        job_title = driver.find_element(By.CLASS_NAME, "jobsearch-JobInfoHeader-title-container").text
                        p_.append(job_title)
                    except:
                        p_.append(None)
                        
                    # salary
                    try:
                        salary = driver.find_element(By.CSS_SELECTOR, "div[data-testid='jobsearch-OtherJobDetailsContainer']").text
                        salary_list_.append(salary)
                    except:
                        salary_list_.append(None)
            

                    # company name
                    try:
                        company = driver.find_element(By.CSS_SELECTOR, "div[data-testid='inlineHeader-companyName']").text
                        company_list_.append(company)
                    except:
                        company_list_.append(None)    

                    # company location
                    try:
                        location = driver.find_element(By.CSS_SELECTOR, "div[data-testid='inlineHeader-companyLocation']").text
                        location_list_.append(location)
                    except:
                        location_list_.append(None)

                    # job description
                    try:
                        job_description = driver.find_element(By.ID, "jobDescriptionText").text
                        job_description_list_.append(job_description)
                    except:
                        job_description_list_.append(None)
                    
                    # posting date
                    try:
                        posted_date_element = driver.find_element(By.CSS_SELECTOR, "span[data-testid='myJobsStateDate']")
                        posted_date = posted_date_element.get_attribute("textContent")
                        posted_date_list_.append(posted_date)
                    except:
                        posted_date_list_.append(None)
                    
            
driver.quit()

# Write data to CSV file
with open('indeed_jobs_raw.csv', 'w', newline='', encoding='utf-8') as csvfile:
    fieldnames = ['Job Title', 'Company', 'Salary', 'Job Type', 'Location', 'Job Description', 'Posted Date', 'Today Date', 'Listing Date']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    today_date = datetime.now()
    today_date = today_date.strftime("%d/%m/%Y")
    
    writer.writeheader()
    for job, company, salary, location, job_description, posted_date in zip(p_, company_list_, salary_list_, location_list_, job_description_list_, posted_date_list_):
        writer.writerow({'Job Title': job, 'Company': company, 'Salary': salary, 'Location': location, 'Job Description': job_description, 'Posted Date': posted_date, 'Today Date': today_date})

In [119]:
data = pd.read_csv('indeed_jobs.csv')
data

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
0,Senior Business Analyst (Avaloq)\n- job post,PENTAFIN PTE. LTD.,"$11,000 - $12,500 a month - Permanent, Full-time",NaN,Singapore,About Pentafin\nPentafin exists to making bank...,PostedJust posted,21/03/2024,NaN
1,Data Analyst\n- job post,SALT TALENT SEARCH PTE. LTD.,"$5,000 - $5,700 a month - Full-time, Contract",NaN,Singapore,Salt is looking for a Data Analyst to join the...,PostedJust posted,21/03/2024,NaN
2,Business Analyst/QA – Cash Management (Payment...,Crédit Agricole CIB,NaN,NaN,Singapore,Description du poste\nMain responsibilities\n\...,PostedJust posted,21/03/2024,NaN
3,System Analyst- Market Data\n- job post,PERSOLKELLY,"Up to $10,500 a month - Temporary",NaN,Central Singapore,The System Analyst - Market Data will be respo...,PostedJust posted,21/03/2024,NaN
4,"Project Manager/Business Analyst, Fiscal Trans...",ANTAES ASIA PTE. LTD.,"$10,000 - $13,000 a month - Permanent",NaN,Singapore,Job Description:\nContribute to IT projects in...,PostedJust posted,21/03/2024,NaN
...,...,...,...,...,...,...,...,...,...
310,Backend software engineer-Emerging Market\n- j...,NodeFlair,Permanent,NaN,Singapore,Job Summary\n\nJob Type\nPermanent\n\nSeniorit...,PostedPosted 1 day ago,21/03/2024,NaN
311,Site Reliability Engineer\n- job post,TRINITY CONSULTING SERVICES PTE. LTD.,"$3,500 - $6,000 a month - Full-time",NaN,Singapore,Minimum 3 years relevant experience\nStrong te...,PostedPosted 1 day ago,21/03/2024,NaN
312,Site Reliability Engineer (SRE) Only for Fresh...,NTT SINGAPORE PTE. LTD.,"$3,000 - $5,000 a month - Contract",NaN,Singapore,Site Reliability Engineer (SRE)\n\nIntroductio...,PostedPosted 1 day ago,21/03/2024,NaN
313,Lead Software Engineer (Java)\n- job post,Activate Interactive Pte Ltd,"Up to $12,000 a month - Full-time",NaN,Singapore 408600,Activate Interactive Pte Ltd (“Activate”) is a...,PostedPosted 1 day ago,21/03/2024,NaN
314,Senior/Research Engineer (Software Design and ...,SPO Singapore Polytechnic,Full-time,NaN,Singapore,Reporting to the Centre Director of the 5G & A...,PostedPosted 1 day ago,21/03/2024,NaN

## PREPROCESSING FOR INDEED

In [120]:
# Remove additional text of -job post in Job Title Col
for index, row in data.iterrows():
    parts = row['Job Title'].split('-', 1)
    data.loc[index, 'Job Title'] = parts [0]

data

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
0,Senior Business Analyst (Avaloq)\n,PENTAFIN PTE. LTD.,"$11,000 - $12,500 a month - Permanent, Full-time",NaN,Singapore,About Pentafin\nPentafin exists to making bank...,PostedJust posted,21/03/2024,NaN
1,Data Analyst\n,SALT TALENT SEARCH PTE. LTD.,"$5,000 - $5,700 a month - Full-time, Contract",NaN,Singapore,Salt is looking for a Data Analyst to join the...,PostedJust posted,21/03/2024,NaN
2,Business Analyst/QA – Cash Management (Payment...,Crédit Agricole CIB,NaN,NaN,Singapore,Description du poste\nMain responsibilities\n\...,PostedJust posted,21/03/2024,NaN
3,System Analyst,PERSOLKELLY,"Up to $10,500 a month - Temporary",NaN,Central Singapore,The System Analyst - Market Data will be respo...,PostedJust posted,21/03/2024,NaN
4,"Project Manager/Business Analyst, Fiscal Trans...",ANTAES ASIA PTE. LTD.,"$10,000 - $13,000 a month - Permanent",NaN,Singapore,Job Description:\nContribute to IT projects in...,PostedJust posted,21/03/2024,NaN
...,...,...,...,...,...,...,...,...,...
310,Backend software engineer,NodeFlair,Permanent,NaN,Singapore,Job Summary\n\nJob Type\nPermanent\n\nSeniorit...,PostedPosted 1 day ago,21/03/2024,NaN
311,Site Reliability Engineer\n,TRINITY CONSULTING SERVICES PTE. LTD.,"$3,500 - $6,000 a month - Full-time",NaN,Singapore,Minimum 3 years relevant experience\nStrong te...,PostedPosted 1 day ago,21/03/2024,NaN
312,Site Reliability Engineer (SRE) Only for Fresh...,NTT SINGAPORE PTE. LTD.,"$3,000 - $5,000 a month - Contract",NaN,Singapore,Site Reliability Engineer (SRE)\n\nIntroductio...,PostedPosted 1 day ago,21/03/2024,NaN
313,Lead Software Engineer (Java)\n,Activate Interactive Pte Ltd,"Up to $12,000 a month - Full-time",NaN,Singapore 408600,Activate Interactive Pte Ltd (“Activate”) is a...,PostedPosted 1 day ago,21/03/2024,NaN
314,Senior/Research Engineer (Software Design and ...,SPO Singapore Polytechnic,Full-time,NaN,Singapore,Reporting to the Centre Director of the 5G & A...,PostedPosted 1 day ago,21/03/2024,NaN

In [121]:
# To seperate the salary and Job Type during web scraping
for index, row in data.iterrows():
    if row['Salary'] == "nan":
        pass
    elif '$' not in str(row['Salary']):
        data.loc[index, 'Job Type'] = row['Salary']
        data.loc[index, 'Salary'] = None
    elif "Up to" in row['Salary'] and row['Salary'].count('-') >= 1:
        parts = row['Salary'].split('-', 1)
        data.loc[index, 'Salary'] = parts[0] 
        data.loc[index, 'Job Type'] = parts[1]
    elif row['Salary'].count('-') >= 2:
        parts = row['Salary'].split('-', 2)
        data.loc[index, 'Salary'] = parts[0] + '-' + parts[1]
        data.loc[index, 'Job Type'] = parts[2]

data

$11,000 - $12,500 a month - Permanent, Full-time
$5,000 - $5,700 a month - Full-time, Contract
nan
Up to $10,500 a month - Temporary
$10,000 - $13,000 a month - Permanent
Permanent
Permanent, Contract
$6,000 - $9,000 a month - Contract
$4,800 - $6,400 a month - Permanent, Full-time
$3,500 - $4,200 a month - Permanent, Full-time
$3,200 - $4,200 a month - Permanent, Full-time
$88,520 - $115,079 a year - Part-time, Full-time
Contract
Up to $8,000 a month - Contract
Up to $8,000 a month - Contract
Full-time
Full-time
Full-time
Permanent, Full-time
Permanent
nan
Full-time, Internship
$6,500 - $9,500 a month - Contract
Internship
$6,000 - $10,000 a month - Permanent, Full-time
Full-time
nan
$4,200 - $6,500 a month - Permanent
nan
$4,000 - $6,000 a month - Full-time
nan
$5,000 - $7,000 a month - Contract
$6,500 - $8,500 a month - Full-time, Contract
$6,500 - $8,500 a month - Full-time, Contract
$8,000 - $8,500 a month - Full-time
Permanent
Permanent
Permanent, Full-time
$5,000 - $9,000 a month - Permanent, Full-time
Full-time
$4,000 - $6,000 a month - Full-time, Contract
$6,500 - $7,300 a month - Full-time, Contract
$6,000 - $8,000 a month - Permanent, Full-time
$6,000 - $11,500 a month - Full-time
Permanent
Permanent
$6,000 - $10,000 a month - Full-time
Permanent, Contract
$5,400 - $7,000 a month - Full-time, Contract
Permanent
Full-time
$8,000 - $15,000 a month - Permanent
Permanent
Full-time
$9,000 - $12,000 a month - Contract
Full-time
$3,500 - $6,500 a month - Contract
$7,000 - $8,000 a month - Contract
Full-time
$6,000 - $7,000 a month - Contract
$3,620.11 - $10,532.24 a month - Full-time, Contract
$5,800 - $7,800 a month - Full-time
nan
$4,900 - $8,000 a month - Permanent, Full-time
Full-time
$4,000 - $8,000 a month - Permanent, Full-time
nan
$6,500 - $8,000 a month - Permanent, Contract
$5,000 - $7,000 a month - Permanent, Full-time
Permanent, Full-time
nan
Full-time
Full-time
nan
nan
nan
nan
Full-time
$5,000 - $6,000 a month - Permanent, Contract
Temporary
$900 - $1,100 a day - Contract
Full-time
Full-time
Full-time
Permanent, Full-time
Permanent, Full-time
$4,000 - $8,000 a month - Contract
Full-time
$3,500 - $4,200 a month - Permanent
nan
nan
$4,000 - $6,000 a month - Full-time, Temporary
Full-time, Internship
Permanent, Full-time
nan
Contract
Up to $10,000 a month - Permanent, Full-time
Up to $10,000 a month - Permanent, Full-time
Full-time
$4,000 - $8,000 a month - Permanent, Full-time
Contract
$100 - $125 a day
Permanent
$5,000 - $7,000 a month - Permanent, Full-time
$5,000 - $7,000 a month - Full-time, Contract
$5,000 - $5,700 a month - Full-time, Contract
Up to $10,500 a month - Temporary
nan
Contract
$5,000 - $8,000 a month - Full-time
Up to $10,000 a month - Temporary
$5,000 - $8,500 a month - Contract
Full-time, Internship
$4,500 - $5,000 a month - Permanent, Full-time
Full-time
nan
Permanent, Full-time, Contract
Permanent, Full-time
$3,000 - $5,000 a month - Full-time
$9,000 - $10,000 a month - Full-time
Full-time
Full-time
Full-time
Full-time, Internship
Internship
nan
$6,500 - $9,500 a month - Contract
$4,000 - $6,500 a month
Permanent, Full-time
nan
Full-time, Contract
Permanent
$4,200 - $6,500 a month - Permanent
$3,500 - $4,000 a month - Fresh graduate, Temporary
Contract
$4,200 - $6,500 a month - Permanent
nan
$4,000 - $6,000 a month - Full-time, Contract
Permanent, Full-time
Full-time
nan
$5,000 - $7,000 a month - Full-time
$3,500 - $4,000 a month - Contract
$6,000 - $8,000 a month - Permanent, Full-time
$4,000 - $7,800 a month
nan
nan
$5,000 - $7,000 a month - Contract
$6,500 - $7,500 a month - Full-time
$8,500 - $10,000 a month - Contract
Permanent
$6,000 - $15,000 a month - Contract
$6,000 - $11,500 a month - Full-time
$16,000 - $22,500 a month - Full-time
$4,000 - $6,000 a month - Full-time
$42,000 - $54,000 a year - Full-time
nan
$6,500 - $8,500 a month - Full-time, Contract
$6,500 - $8,500 a month - Full-time, Contract
Permanent, Full-time
Part-time, Full-time, Internship
Full-time
Full-time
$4,000 - $5,200 a month - Full-time
Full-time
nan
$2,500 - $3,300 a month - Full-time
$7,000 - $14,000 a month - Permanent, Full-time
nan
nan
$7,000 - $14,000 a month
Full-time
Full-time
nan
nan
Full-time
nan
Full-time
$4,900 - $8,000 a month - Permanent, Full-time
$4,200 - $6,000 a month - Full-time
$4,900 - $8,000 a month - Permanent, Full-time
Full-time
Permanent, Full-time
Full-time
Permanent, Full-time
$6,500 - $8,000 a month - Permanent, Contract
$5,000 - $7,500 a month - Contract
nan
Permanent
$6,000 - $7,000 a month - Contract
Full-time
$5,200 - $7,200 a month - Full-time, Contract
Full-time
Permanent
Permanent, Full-time
Permanent
nan
nan
Permanent, Full-time
nan
Full-time
Temporary
Full-time, Internship
$3,600 - $4,200 a month - Full-time
Permanent, Full-time
$4,000 - $8,000 a month - Contract
nan
Full-time
nan
$900 - $1,100 a day - Contract
Internship
Full-time
$6,500 - $11,000 a month - Permanent, Full-time
nan
$3,500 - $6,500 a month - Full-time
$5,000 - $7,500 a month - Full-time
$5,000 - $9,000 a month - Contract
$2,800 - $5,000 a month - Permanent, Full-time, Contract
$3,800 - $6,000 a month - Permanent, Full-time
$7,500 - $13,500 a month - Full-time, Contract
Full-time
$7,000 - $14,000 a month - Full-time
$3,500 - $4,500 a month - Full-time
nan
Full-time
Up to $10,500 a month - Temporary
Up to $9,000 a month - Temporary
$5,000 - $9,000 a month - Contract
$6,500 - $9,500 a month - Permanent, Full-time
$5,000 - $9,000 a month - Contract
$1,000 - $1,200 a month - Part-time, Full-time, Temporary, Contract, Internship, Freelance
Up to $10,500 a month - Temporary
$5,000 - $8,000 a month - Permanent, Full-time
Up to $11,000 a month - Temporary
$8,000 - $12,000 a month - Permanent, Full-time
$10,000 - $15,000 a month - Permanent, Full-time
Up to $10,500 a month - Temporary
nan
nan
Permanent, Full-time
nan
Permanent, Full-time, Contract
nan
Internship
$3,500 - $5,000 a month - Full-time
Full-time
$6,000 - $9,000 a month - Permanent
$1,500 - $2,500 a month - Internship
$5,000 - $6,000 a month - Full-time
$5,000 - $7,200 a month - Contract
Full-time, Contract
$3,000 - $5,000 a month - Permanent, Full-time
Full-time
$5,000 - $8,500 a month - Permanent
$5,000 - $7,500 a month - Full-time
$6,000 - $8,500 a month - Full-time
$4,500 - $6,500 a month - Full-time
$3,500 - $5,500 a month - Permanent, Full-time
$5,000 - $7,200 a month - Contract
$5,000 - $7,200 a month - Contract
nan
$3,500 - $4,000 a month - Permanent, Full-time
$10,000 - $13,000 a month - Permanent, Full-time
Permanent
$4,800 - $5,500 a month - Permanent, Full-time
$4,000 - $6,500 a month - Permanent, Full-time
$7,000 - $11,000 a month - Contract
$5,000 - $7,500 a month - Full-time
$6,000 - $9,000 a month - Contract
$7,000 - $11,000 a month - Contract
Permanent
$6,000 - $9,000 a month - Contract
Permanent
$6,000 - $9,000 a month - Contract
$7,000 - $10,000 a month - Contract
$2,500 - $5,000 a month - Permanent, Full-time
$4,500 - $5,100 a month - Contract
Full-time
$80 - $100 an hour - Fresh graduate, Full-time
Full-time
$80 - $100 an hour - Full-time
nan
nan
Permanent
Permanent
$24,000 - $48,000 a year - Full-time
Permanent, Full-time
Permanent
Permanent
nan
nan
Permanent
Permanent
$5,000 - $8,000 a month - Permanent
$7,000 - $12,000 a month - Contract
Full-time
Internship
$4,200 - $6,000 a month - Permanent, Full-time
Full-time, Internship
nan
nan
$7,000 - $9,500 a month - Contract
$3,000 - $5,000 a month - Contract
$9,975 - $13,325 a month - Full-time
$4,000 - $5,000 a month - Full-time
$6,000 - $8,500 a month - Contract
$8,000 - $9,500 a month - Permanent, Full-time
nan
$5,000 - $8,000 a month - Contract
$4,000 - $5,500 a month - Full-time
Permanent
$3,500 - $6,000 a month - Full-time
$3,000 - $5,000 a month - Contract
Up to $12,000 a month - Full-time
Full-time

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
0,Senior Business Analyst (Avaloq)\n,PENTAFIN PTE. LTD.,"$11,000 - $12,500 a month","Permanent, Full-time",Singapore,About Pentafin\nPentafin exists to making bank...,PostedJust posted,21/03/2024,NaN
1,Data Analyst\n,SALT TALENT SEARCH PTE. LTD.,"$5,000 - $5,700 a month","Full-time, Contract",Singapore,Salt is looking for a Data Analyst to join the...,PostedJust posted,21/03/2024,NaN
2,Business Analyst/QA – Cash Management (Payment...,Crédit Agricole CIB,None,NaN,Singapore,Description du poste\nMain responsibilities\n\...,PostedJust posted,21/03/2024,NaN
3,System Analyst,PERSOLKELLY,"Up to $10,500 a month",Temporary,Central Singapore,The System Analyst - Market Data will be respo...,PostedJust posted,21/03/2024,NaN
4,"Project Manager/Business Analyst, Fiscal Trans...",ANTAES ASIA PTE. LTD.,"$10,000 - $13,000 a month",Permanent,Singapore,Job Description:\nContribute to IT projects in...,PostedJust posted,21/03/2024,NaN
...,...,...,...,...,...,...,...,...,...
310,Backend software engineer,NodeFlair,None,Permanent,Singapore,Job Summary\n\nJob Type\nPermanent\n\nSeniorit...,PostedPosted 1 day ago,21/03/2024,NaN
311,Site Reliability Engineer\n,TRINITY CONSULTING SERVICES PTE. LTD.,"$3,500 - $6,000 a month",Full-time,Singapore,Minimum 3 years relevant experience\nStrong te...,PostedPosted 1 day ago,21/03/2024,NaN
312,Site Reliability Engineer (SRE) Only for Fresh...,NTT SINGAPORE PTE. LTD.,"$3,000 - $5,000 a month",Contract,Singapore,Site Reliability Engineer (SRE)\n\nIntroductio...,PostedPosted 1 day ago,21/03/2024,NaN
313,Lead Software Engineer (Java)\n,Activate Interactive Pte Ltd,"Up to $12,000 a month",Full-time,Singapore 408600,Activate Interactive Pte Ltd (“Activate”) is a...,PostedPosted 1 day ago,21/03/2024,NaN
314,Senior/Research Engineer (Software Design and ...,SPO Singapore Polytechnic,None,Full-time,Singapore,Reporting to the Centre Director of the 5G & A...,PostedPosted 1 day ago,21/03/2024,NaN

In [122]:
# To indicate the listing date from posted date information
import re
from datetime import datetime, timedelta

# Convert text to datetime for manipulation 
data['Today Date'] = pd.to_datetime(data['Today Date'])

for index, row in data.iterrows():
    if not re.search(r'\d', row['Posted Date']):
        data.loc[index, 'Listing Date'] = row['Today Date']

    else:
        days = re.findall(r'\d+', row['Posted Date'])
        days_int = sum(map(int, days))
        listing_date = row['Today Date'] - timedelta(days=days_int)
        data.loc[index, 'Listing Date'] = listing_date

data

,Job Title,Company,Salary,Job Type,Location,Job Description,Posted Date,Today Date,Listing Date
0,Senior Business Analyst (Avaloq)\n,PENTAFIN PTE. LTD.,"$11,000 - $12,500 a month","Permanent, Full-time",Singapore,About Pentafin\nPentafin exists to making bank...,PostedJust posted,2024-03-21,2024-03-21 00:00:00
1,Data Analyst\n,SALT TALENT SEARCH PTE. LTD.,"$5,000 - $5,700 a month","Full-time, Contract",Singapore,Salt is looking for a Data Analyst to join the...,PostedJust posted,2024-03-21,2024-03-21 00:00:00
2,Business Analyst/QA – Cash Management (Payment...,Crédit Agricole CIB,None,NaN,Singapore,Description du poste\nMain responsibilities\n\...,PostedJust posted,2024-03-21,2024-03-21 00:00:00
3,System Analyst,PERSOLKELLY,"Up to $10,500 a month",Temporary,Central Singapore,The System Analyst - Market Data will be respo...,PostedJust posted,2024-03-21,2024-03-21 00:00:00
4,"Project Manager/Business Analyst, Fiscal Trans...",ANTAES ASIA PTE. LTD.,"$10,000 - $13,000 a month",Permanent,Singapore,Job Description:\nContribute to IT projects in...,PostedJust posted,2024-03-21,2024-03-21 00:00:00
...,...,...,...,...,...,...,...,...,...
310,Backend software engineer,NodeFlair,None,Permanent,Singapore,Job Summary\n\nJob Type\nPermanent\n\nSeniorit...,PostedPosted 1 day ago,2024-03-21,2024-03-20 00:00:00
311,Site Reliability Engineer\n,TRINITY CONSULTING SERVICES PTE. LTD.,"$3,500 - $6,000 a month",Full-time,Singapore,Minimum 3 years relevant experience\nStrong te...,PostedPosted 1 day ago,2024-03-21,2024-03-20 00:00:00
312,Site Reliability Engineer (SRE) Only for Fresh...,NTT SINGAPORE PTE. LTD.,"$3,000 - $5,000 a month",Contract,Singapore,Site Reliability Engineer (SRE)\n\nIntroductio...,PostedPosted 1 day ago,2024-03-21,2024-03-20 00:00:00
313,Lead Software Engineer (Java)\n,Activate Interactive Pte Ltd,"Up to $12,000 a month",Full-time,Singapore 408600,Activate Interactive Pte Ltd (“Activate”) is a...,PostedPosted 1 day ago,2024-03-21,2024-03-20 00:00:00
314,Senior/Research Engineer (Software Design and ...,SPO Singapore Polytechnic,None,Full-time,Singapore,Reporting to the Centre Director of the 5G & A...,PostedPosted 1 day ago,2024-03-21,2024-03-20 00:00:00

In [123]:
data.to_csv('indeed_jobs_modified.csv', index=False)